.header_user_info {
  float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151; }
  .header_user_info a {
	color: white;
	font-weight: bold;
	display: block;
	padding: 8px 9px 11px 8px;
	cursor: pointer;
	line-height: 18px; }
	.header_user_info a:hover, .header_user_info a.active {
	  background: #2b2b2b; }
	  
#header_user {
  position: relative;
	float: right;
	padding: 0 15px;}

#header_nav a {
color: #fff;
font-weight: 600;
}

#shopping_cart i {
padding: 0px 5px;
font-size: 17px;
}

#header_nav{
margin:0px;
}

li#shopping_cart {
padding: 0px 10px;
margin-left: 10px;
border-left: 1px solid #848484;
line-height: 15px;
}

#header_nav li {
	display: inline-block;
	font-weight: 600;
}

#header_nav li {
display: inline-block;
color: #fff;
font-size: 12px;
}
#header_user ul:before {
  content: '';
  border-right: 1px solid #848484;
  height: 18px;
  position: absolute;
  right: 0;
  top: 16px;
}
@media screen and (min-width: 768px){
	#drop_links_user {
		display: none;
	}
}
@media (max-width: 1680px){
  #header_nav li{
	font-size: 11px;
  }
}
@media (max-width: 767px){
	#drop_links_user{
		font-size: 14px;
	}
	#header_nav.dropdown-links{
		position: absolute;
		top: 100%;
		left: 15px;
		z-index: 100;
		line-height: 1.2;
		display: none;
		width: auto;
		white-space: nowrap;
	}
	#header_nav li{
		width: 100%;
		display: block;
	}
	#header_nav a{
		display: block;
		padding: 7px 10px 7px 12px;
		font-size: 11px;
		text-transform: none;
	}
	#header_nav li.or-style{
		display: none;
	}
}
@media (max-width: 580px){
	#header_user ul:before{
		display: none;
	}
}
@media (max-width: 380px){
	#header_user{
		padding: 0 5px;
	}
}