.search-box select,.search-box .select2,.search-box .styled-select{
	display: none;
}
.amazingsearch_result{
	padding: 15px 10px;
	position: absolute;
	top: 100%;
	left: 15px;
	right: 15px;
    margin-top: 15px;
	display: none;
	background-color: #FFF;
	z-index: 300;
}
.amazingsearch_result .product_img_link{
	display: inline-block;
}
.products_list_block .header{ 
	display: none;
}
.amazingsearch_result .products_list{
	font-size: 0;
	display: table;
	width: 100%;
}
.amazingsearch_result .ajax_block_product {
	width: 25%;
	float: none;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.search-box #searchbox {
	float: left;
	width: 100%;
	position: relative;
}
.search-box .button-search {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	border: none;
	color: #323232;
	text-align: center;
	background: transparent;
	padding: 0px;
	bottom: 0px;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	}
	.search-box .button-search span {
	  display: none; }
	.search-box .button-search:before {
	  content: "\f002";
	  display: block;
	  font-family: "FontAwesome";
	  width: 100%;
	  text-align: center; }
  .search_query {
	display: inline;
	padding: 0 13px;
	line-height: 25px;
  height: 28px;
	background: #777777;
	margin-right: 1px;
	border: 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	border-radius: 20px;
  color: #b4b4b4;
  font-weight: 600;
	-webkit-box-shadow: 0 0 10px transparent;
  -moz-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
	}
.search_query::-webkit-input-placeholder {color:#b4b4b4;}
.search_query::-moz-placeholder          {color:#b4b4b4;}/* Firefox 19+ */
.search_query:-moz-placeholder           {color:#b4b4b4;}/* Firefox 18- */
.search_query:-ms-input-placeholder      {color:#b4b4b4;}
.search_query:focus {
  -webkit-box-shadow: 0 0 10px #fff;
  -moz-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
@media (min-width: 768px) and (max-width: 991px){
	.amazingsearch_result .ajax_block_product{
		width: 33.333%;
	}
}
@media (max-width: 767px){
	.amazingsearch_result .ajax_block_product{
		width: 50%;
	}
}
@media (max-width: 480px){
	.amazingsearch_result .ajax_block_product{
		width: 100%;
	}
}

@media (max-width: 767px){
.search-box{
	width: 118px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	max-width: 480px;
	-webkit-transition:width .4s ease-in;
	-moz-transition:width .4s ease-in;
	-o-transition:width .4s ease-in;
	transition:width .4s ease-in;
	overflow: hidden;
}
.search-box.search-active{
	width: 90%;
	width: calc(100% - 35px);
}
.search-box .search_query{
	width: 100%;
}
.search-box:not(.search-active){
	width: 60px;
}
.search-box:not(.search-active) .search_query{
	background-color: transparent;
	font-size: 0;
}
.search-box .button-search{
	font-size: 16px;
	transition:all .5s;
	-webkit-transition:all .5s;
}
.search-box:not(.search-active) .button-search{
	right: -40px;
}
#searchbox:before{
	content: "\f002";
	display: block;
	font-family: "FontAwesome";
	color: #fff;
	position: absolute;
	z-index: -1;
	right: 10px;
	top: 0px;
	font-size: 16px;
}
.search-active #searchbox:before{
	display: none;
}
}



