.socialsharing_product .btn.btn-default {
	width: 30px;
	height: 30px;	
	line-height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-width: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 0;
}
.socialsharing_product .btn.btn-default i{
	font-size: 14px;
	line-height: 30px;
}
#product .socialsharing_product{
	margin: 0 -38px 0;
	padding: 18px 38px 0;
}
@media (max-width: 480px){
	#product .socialsharing_product{
		padding-left: 15px;
		padding-right: 15px;
	}
}