@media screen and (min-width: 1023px){
	.owl-pagination .owl-page span{
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
	}
		.product_list.grid.category_list .product-image-container {
		min-height: 235px;
	}
	.product_list.grid.category_list .product_img_link {
		position: absolute;
		left: 0;
		top: 0;
		-webkit-transition:top .5s;
		-moz-transition:top .5s;
		-o-transition:top .5s;
		transition:top .5s;
	}
	.product_list.grid.category_list .ajax_block_product:hover .product_img_link{
		top: 60%;
	}
	.product_list .quick-view{
		opacity: 0;
		-webkit-transform:scale(0);
		-moz-transform:scale(0);
		-o-transform:scale(0);
		-ms-transform:scale(0);
		transform:scale(0);
		-webkit-transition:opacity .5s,-webkit-transform .5s;
		-moz-transition:opacity .5s,-moz-transform .5s;
		-o-transition:opacity .5s,-o-transform .5s;
		transition:opacity .5s,transform .5s;
	}
	.product_list .product-image-container:hover .quick-view{
		opacity: 1;
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-o-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1);
	}
	.product_list .product-image-container img{
		-webkit-transition:-webkit-transform .5s;
		-moz-transition:-moz-transform .5s;
		-o-transition:-o-transform .5s;
		transition:transform .5s;
	}
	.product_list .product-image-container:hover img {
		-webkit-transform:scale(1.2);
		-moz-transform:scale(1.2);
		-o-transform:scale(1.2);
		-ms-transform:scale(1.2);
		transform:scale(1.2);
	}
	.category_list.grid .ajax_block_product:hover img{
		position: relative;
		z-index: 2;
	}
	.category_list.grid .product-image-container:hover img{
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
	}
	.category_list.grid .button-container{
		position: relative;
	}
	.category_list.grid .wrap_top_desc>a,.category_list.grid .wrap_top_desc>p{
		-webkit-transition:-webkit-transform .5s .1s;
		-moz-transition:-moz-transform .5s .1s;
		-o-transition:-o-transform .5s .1s;
		transition:transform .5s .1s;
	}
	.category_list.grid .wrap_top_desc>a{
		-webkit-transform:translateY(-200%);
		-moz-transform:translateY(-200%);
		-o-transform:translateY(-200%);
		-ms-transform:translateY(-200%);
		transform:translateY(-200%);
	}
	.category_list.grid .wrap_top_desc>p{
		-webkit-transform:translateX(200%);
		-moz-transform:translateX(200%);
		-o-transform:translateX(200%);
		-ms-transform:translateX(200%);
		transform:translateX(200%);
	}
	.category_list.grid .ajax_block_product:hover .wrap_top_desc>a,.category_list.grid .ajax_block_product:hover .wrap_top_desc>p{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
		transform:translateX(0);
	}
	.category_list.grid .ajax_block_product{
		overflow: hidden;
	}
	.category_list.grid .ajax_block_product:before,.category_list.grid .ajax_block_product:after{
		-webkit-transition:height .5s, opacity .4s;
		-moz-transition:height .5s, opacity .4s;
		-o-transition:height .5s, opacity .4s;
		transition:height .5s, opacity .4s;
	}
	.category_list.grid .ajax_block_product:before,.category_list.grid .ajax_block_product:after{
		content:'';
		display: block;
		position: absolute;
		width: 100%;
		height: 0;
		left: 0;
		opacity: 0;
		z-index: 1;
	}
	.category_list.grid .ajax_block_product:before{
		top: 0;
	}
	.category_list.grid .ajax_block_product:after{
		bottom: 0;
	}
	.category_list.grid .ajax_block_product:hover:before,.category_list .ajax_block_product:hover:after{
		opacity: 1;
		height: 50%;
	}
	.grid.category_list.category_list .lnk_view {
		position: absolute;
		right: 0;
		left: 50%;
		text-align: right;
		top: 0;
		-webkit-transition:left .4s;
		-moz-transition:left .4s;
		-o-transition:left .4s;
		transition:left .4s;
	}
	.grid.category_list .ajax_block_product:hover .lnk_view {
		left: 0;
		text-align: center;
	}
	a,button,input[type="button"],input[type="submit"]{
		-webkit-transition:color .2s,background .2s, border-color .2s;
		-moz-transition:color .2s,background .2s, border-color .2s;
		-o-transition:color .2s,background .2s, border-color .2s;
		transition:color .2s,background .2s, border-color .2s;
	}
	.img-thumbnail, .thumbnail {
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	.form-control {
		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}
	#thumbs_list li a {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	#attributes .attribute_list #color_to_pick_list li {
		-webkit-transition: border .4s ease;
		-moz-transition: border .4s ease;
		-o-transition: border .4s ease;
		transition: border .4s ease;
	}
	#categories_block_left ul li .wrap-drop-category {
		-webkit-transition: opacity .2s,left .2s,visibility .5s;
		-moz-transition: opacity .2s,left .2s,visibility .5s;
		-o-transition: opacity .2s,left .2s,visibility .5s;
		transition: opacity .2s,left .2s,visibility .5s;
	}
	.custombanners.displayLeftColumn  .banner-item{
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		-o-transition:all .3s;
		transition:all .3s;
	}
	.animate-text{
		right: 0;
		position: relative;
		-webkit-transition:right .8s ease;
		-moz-transition:right .8s ease;
		-o-transition:right .8s ease;
		transition:right .8s ease;
	}
	.animate-text.two{
		-webkit-transition:right 1s ease;
		-moz-transition:right 1s ease;
		-o-transition:right 1s ease;
		transition:right 1s ease;
	}
	.custombanners.displayHome .banner-item-content:hover .animate-text{
		right: 150%;
	}
	.custombanners.displayTopColumn .sticker_banner,.custombanners.displayTopColumn .text-style,.custombanners.displayHome .custom-html{
		z-index: 2;
	}
	.custombanners.displayTopColumn .banner-item-content:before,.custombanners.displayHome .banner-item-content:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(126, 68, 28,0.3);
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		z-index: 1;
	}
	.custombanners.displayTopColumn .banner-item-content:hover:before{
		-webkit-transform: rotateZ(90deg) translateY(170%);
		-moz-transform: rotateZ(90deg) translateY(170%);
		-webkit-transform: rotateZ(90deg) translateY(170%);
		-ms-transform: rotateZ(90deg) translateY(170%);
		transform: rotateZ(90deg) translateY(170%);
	}
	.custombanners.displayHome .banner-item-content:hover:before{
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}
	.custombanners.displayHome .banner-item-content img,.custombanners.displayTopColumn .banner-item-content img{
		-webkit-transition:transform .3s;
		-moz-transition:transform .3s;
		-o-transition:transform .3s;
		transition:transform .3s;
	}
	.custombanners.displayHome .banner-item-content:hover img,.custombanners.displayTopColumn .banner-item-content:hover img{
		-webkit-transform:scale(1.1);
		-moz-transform:scale(1.1);
		-o-transform:scale(1.1);
		-ms-transform:scale(1.1);
		transform:scale(1.1);
	}
	.custombanners.displayTopColumn .sticker_banner{
		-webkit-transition:top .8s, right .8s;
		-moz-transition:top .8s, right .8s;
		-o-transition:top .8s, right .8s;
		transition:top .8s, right .8s;
	}
	.custombanners.displayTopColumn .banner-item-content .text-style{
		-webkit-transition:top .8s;
		-moz-transition:top .8s;
		-o-transition:top .8s;
		transition:top .8s;
	}
	.custombanners.displayTopColumn .banner-item-content:hover .sticker_banner{
		top: -60%;
		right: -50%;
	}
	.custombanners.displayTopColumn .banner-item-content:hover .text-style{
		top: -50%;
	}
}