/* color */
a{
	color: inherit;
}
#drop_links_user,
#left_column .navbar-toggle:before,.product_list .quick-view,.kwicks .custom-html:after,.category_list.grid .wrap_top_desc>a:hover,.custombanners.displayLeftColumn a:hover,.btn.button-plus:active,.btn.button-minus:active,.btn.button-plus:hover,.btn.button-minus:hover,.custombanners.displayHome .custom-html,.kwicks .custom-html, #search_block_top .btn.button-search:hover,#drop_links,#add_to_cart button:hover,.cat_desc,.category_list.grid .wrap_top_desc,.socialsharing_product button{
	color: #fff;
}
.owl-buttons>div,.jspHorizontalBar .jspArrow{
	color: #727272;
}
#htmlcontent_home .item-html .normal,.custombanners.displayHome .normal{
	color: #ea000a
}
.nbrItemPage .chosen-container  b,.text_quantity,.pagination > li > a,label,.breadcrumb,#more_info_tabs li a,#add_to_cart button,#wishlist_button,h1, h2, h3,h4,h5,h6,
.pagination > li > span,.chosen-container-single .chosen-single,.chosen-container .chosen-results li{
	color: #000;
}
.production-skin.category_list.grid .wrap_top_desc>a,.production-skin.category_list.grid .wrap_top_desc>a:hover, .production-skin.category_list.grid .wrap_top_desc>p{
	color: #0084bf;
}
.content_sortPagiBar .display li{
	color: #c4c4c4;
}
.btn_minus,.btn_plus{
	color: #535353;
}
#short_description_content{
	color: #c2c2c2;
}
.fancybox-skin .fancybox-close,
#cart_summary .price,#layered_block_left #enabled_filters ul li a,#layered_block_left #enabled_filters ul li:hover,.nbrItemPage .chosen-container .chosen-single,#cms #center_column h3,#cms #center_column .list-1 li,#my-account ul.myaccount-link-list li a:hover,#my-account ul.myaccount-link-list li a:active,#my-account ul.myaccount-link-list li a i,p.payment_module a,div.uploader span.filename,#layer_cart .layer_cart_product h2,a:hover,.form-control,.btn.button-plus,.btn.button-minus,.checker .checked:before,div.star.star_hover:after,div.star.star_on:after,.span_link,.discount,.chosen-container .chosen-results li.highlighted,.content_sortPagiBar .display li.selected,.content_sortPagiBar .display li:hover{
	color: #00aeb4;
}
/* background */
.navbar-toggle .icon-bar,.production-skin.category_list.grid .ajax_block_product:before,.production-skin.category_list.grid .ajax_block_product:after, #product .socialsharing_product,.jspHorizontalBar .jspArrow,.owl-buttons>div,.chosen-container .chosen-drop,div.selector,.chosen-container-single .chosen-single,.content_sortPagiBar .display li.selected,.content_sortPagiBar .display li:hover,.content_sortPagiBar .chosen-container-active.chosen-with-drop .chosen-single{
	background: #fff;
}
.owl-buttons:after,.mini_basket__items .jspDrag, .jspHorizontalBar .jspDrag{
	background: #3e3e3e;
}
.pb-right-column{
	background: #fafafa;
}
.top_sogi>div{
	background: #f6f6f6;
}
.product_list .quick-view,div.uploader span.action,.btn.button-plus:hover,.btn.button-minus:hover,.label-success,ul.step li.step_current span:after,ul.step li.step_current {
	background: #00aeb4;
}
.btn.button-plus:active,.btn.button-minus:active,#footer #newsletter_block_left .form-group .button-small:hover{
	background:#147B7E;
}
.content_sortPagiBar .chosen-container .chosen-single{
	background-color: transparent;
}
.category_list.grid .ajax_block_product:before,.category_list.grid .ajax_block_product:after{
	/*background: #e44857;*/
	background: #e4bfc3;
}
#more_info_tabs li a{
	background: #f8f8f8;
}
#more_info_tabs li a:hover,#more_info_tabs li a.selected{
	background: #e8e8e8;
}
.jspTrack{
	background: #d2d2d2;
}
#add_to_cart button:hover,.radio .checked:before{
	background: #00aeb4;
}
#more_info_sheets{
	font-size: 14px;
	font-weight: 600;
	padding: 30px 0;
}
.btn.btn-facebook {
  background: #6982b8;
}
.btn.btn-twitter {
  background: #88d0e1;
}
.btn.btn-google-plus {
  background: #495157;
}
.btn.btn-pinterest {
  background: #ce1f21;
}
#footer #newsletter_block_left .form-group .button-small:hover {
	background: #0084bf;
}
#currencies-block-top ul,#languages-block-top ul,ul#header_links,#header .cart_block,#header_nav.dropdown-links {
	background: #3C3835;
}
/* border */
.owl-buttons>div,.jspHorizontalBar .jspArrow{
	border-color:#dbdbdb;
}
.owl-buttons:before{
	border-color: #d2d2d2;
}
.owl-buttons:after{
	border-color: #b6b6b6
}
.pagination > li > a,
.pagination > li > span {
	border-color: #eaeaea;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus,
.pagination > li > a:hover{
	border-color: #07b0b6;
}
div.selector.active, .chosen-container-active.chosen-with-drop .chosen-single, .content_sortPagiBar .chosen-container-active.chosen-with-drop .chosen-single,div.selector.active,div.selector,.chosen-container-single .chosen-single,.chosen-container .chosen-drop,.sortPagiBar .chosen-container-active.chosen-with-drop .chosen-single{
	border-color: #e8e8e8
}
div.selector.active,.chosen-container-active.chosen-with-drop .chosen-single,.content_sortPagiBar .chosen-container-active.chosen-with-drop .chosen-single {
	border-bottom-color: #fff;
}
#add_to_cart button{
	border-color: #000;
}
.content_sortPagiBar .chosen-container .chosen-single{
	border-color: transparent;
}
.text_quantity{
	border-color: #cdcdcd !important;
}
#new_comment_form input, #new_comment_form textarea,#send_friend_form .form_container .text input,
#thumbs_list li, #thumbs_list li a:hover, #thumbs_list li a.shown,.product_list .quick-view,#cms #center_column .list-1 li,p.payment_module a,ul.footer_links,div.uploader span.filename,.page-subheading,.form-control,.btn.button-plus,.btn.button-minus,#add_to_cart button:hover,ul.step li.step_current span,.box, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
	border-color: #00aeb4;
}
.btn.button-plus:active,.btn.button-minus:active{
	border-color:#147B7E;
}
.und_btm{
	border-color: #d0d0d0;
}
#categories_block_left .block_content_category>ul>li>a,#categories_block_left .block_content_category>ul>li{
	border-color: #d1d1d1;
}
#categories_block_left ul li .wrap-drop-category>ul{
	border-color: #383838;
}
@media (min-width:881px ){
	.top_sogi{
		background: #f6f6f6;
	}
}
@media (min-width:1025px ){
	.product_list.category_list.grid .ajax_block_product:hover .lnk_view{
		border-color: #fff
	}
	.product_list.category_list.grid .ajax_block_product:hover .lnk_view{
		color: #fff;
	}
	.production-skin.product_list.category_list.grid .ajax_block_product:hover .lnk_view{
		background: #0084bf;
		-webkit-box-shadow: 0 0 0 1px #0084bf;
		-moz-box-shadow: 0 0 0 1px #0084bf;
		box-shadow: 0 0 0 1px #0084bf;
		color: #fff;
	}
}
@media (max-width: 767px){
	#header_nav a:hover{
		background: #484848;
	}
}
/* box-shadow */
.form-control:focus {
	-webkit-box-shadow: 0 0 8px #00aeb4;
	-moz-box-shadow: 0 0 8px #00aeb4;
	box-shadow: 0 0 8px #00aeb4;
}
