@font-face {
  font-family: 'icomoon';
  src:url('../../font/icomoon.eot?vwlb');
  src:url('../../font/icomoon.eot?#iefixvwlb') format('embedded-opentype'),
    url('../../font/icomoon.woff?vwlb') format('woff'),
    url('../../font/icomoon.ttf?vwlb') format('truetype'),
    url('../../font/icomoon.svg?vwlb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="font-"], [class*=" font-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-circle-cross:before {
  content: "\e600";
}

.font-share:before {
  content: "\e800";
}

.font-search-custom:before {
  content: "\e801";
}

.font-tag-custom:before {
  content: "\e802";
}

.font-eye:before {
  content: "\e803";
}

.font-check:before {
  content: "\e804";
}

.font-card:before {
  content: "\e805";
}

.font-cash:before {
  content: "\e806";
}

.font-arrow-right-kwick:before {
  content: "\e8023";
}
