@media (min-width: 881px){
	.footer-container #footer .footer-block{
		width: 20%;
		min-height: 280px;
	}
	#footer #newsletter_block_left{
		min-height: 0;
	}
}
@media (min-width: 1721px){
	.tag.new,.tag.out-of-stock,.tag.price-percent-reduction{
		top: 35px;
	}
}
@media (min-width:1600px) and (max-width: 1720px){
#center_column {
	padding: 0 30px;
	padding-bottom: 50px;
}
	.tag {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 12px;
	}
	.tag.new,.tag.out-of-stock,.tag.price-percent-reduction{
		top: 14px;
	}
	.tag.price-percent-reduction {
		line-height: 50px;
		font-size: 20px;
	}
	.price-percent-reduction b {
		font-size: 12px;
		bottom: 9px;
	}
}

@media (max-width: 1679px){
	#footer section{
		padding-left: 25px;
	}
	.footer-container #footer h4,#footer #newsletter_block_left h5{
		font-size: 13px;
	}
	.footer-container #footer .footer-block li{
		font-size: 12px;
	}
	.footer-container #footer #social_block ul li{
		width: 30px;
	}
	.footer-container #footer #social_block ul li a{
		font-size: 22px;
	}
}
@media (max-width: 1439px){
	#footer section{
		padding-left: 15px;
	}
	.footer-container #footer h4,#footer #newsletter_block_left h5{
		font-size: 12px;
	}
	.footer-container #footer #social_block ul li{
		width: 23px;
	}
	.footer-container #footer #social_block ul li a{
		font-size: 20px;
	}
}
@media (max-width: 1366px){
	.nav.top,#center_column{
		padding-left:30px;
		padding-right:30px;
	}
	.responsive-margin {
		margin-left: -30px;
		margin-right: -30px;
	}
	.tag {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 12px;
	}
	.tag.price-percent-reduction{
		line-height: 50px;
		font-size: 20px;
	}
	.price-percent-reduction b{
		font-size: 12px;
		bottom: 9px;
	}
}
@media (max-width: 1250px){
	.footer-container #footer .footer-block li{
		font-size: 11px;
		padding-bottom: 15px;
	}
	.footer-container #footer #social_block h4{
		display: none;
	}
	#footer section#social_block{
		margin-top: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.content_sortPagiBar .sortPagiBar label{
		font-size: 12px;
	}
}
@media (min-width: 881px) and (max-width: 1070px){
	.footer-container #footer h4,#footer #newsletter_block_left h5{
		font-size: 11px;
	}
	.footer-container #footer h4{
		margin-bottom: 20px;
	}
	#footer section {
		padding: 0 5px;
	}
}
@media (max-width: 1199px){
		ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span{
		font-size: 13px;
	}
}
@media (min-width:768px) and (max-width: 991px) {
	.block .products-block .product-name{
		font-size: 14px;
	}
	.block .products-block .price{
		font-size: 23px;
	}
	ul.step li em {
		display: none; 
	} 
	ul.step li {
	position: relative;
	}
	ul.step li:after{
		content: '';
		position: absolute;
		width: 1px;
		top: -2px;
		bottom: -2px;
		right: 0;
		background: #e2e2e2;
	}
	ul.step li#step_end:after,ul.step li.step_done_last:after,ul.step li.step_current:after {
		display: none;
	}
	.sf-menu li ul{
		margin-top: 15px;
	}
}
@media (min-width:881px) {
	.content_sortPagiBar .sortPagiBar{
		clear: none;
	}
	.top_sogi{
		position: relative;
	}
	.top_sogi>div{
		float: left;
		margin-bottom: 0;
	}
	ul.step {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px; 
	}
	ul.step li.first {
		-moz-border-radius-topleft: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px; 
	}
	ul.step li.first span,
	ul.step li.first a {
		-moz-border-radius-topleft: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px; 
	}
	ul.step li.last {
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px; 
}
ul.step li.last span {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	} 
}
@media (min-width: 992px) {
	ul.step li a:after,
	ul.step li span:after, ul.step li.step_current span:after, ul.step li.step_current_end span:after {
		content: "";
		position: absolute;
		top: 0;
		right: -31px;
		z-index: 0;
		text-indent: -5000px;
		display: block;
		width: 31px;
		height: 52px;
		margin-top: -2px; 
	}
	ul.step li.step_current span:after{
		 border-color: #ffffff;
		 border-image: none;
		 border-style: solid solid none none;
		 border-width: 1px 1px medium medium;
		 height: 40px;
		 right: -21px;
		 top: 6px;
		 -webkit-transform: rotate(45deg);
		 -moz-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
		 -ms-transform: rotate(45deg);
		 transform: rotate(45deg);
		 width: 40px;
	}
	ul.step li.step_done a {
		padding-left: 38px; 
	}
	ul.step li.step_done a:after {
		border: 1px solid #e2e2e2;
		border-left: none;	
		border-bottom: none;
		width: 40px;
		height: 40px;
		background-color: #CCC;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 6px;
		right: -21px;
	}
	ul.step li.step_done.step_done_last a:after {
		border: 1px solid transparent;
		border-left:none;
		border-bottom:none;
	}
	ul.step li#step_end span:after {
		display: none; 
	}
	ul.step li.step_todo span,ul.step li.step_current {
		padding-left: 30px; 
	}
}
@media (max-width: 1024px){
	#HOOK_PAYMENT>div,#left_column,#center_column,#right_column,#columns>.top,#columns>.nopadding,.footer-container{
		width: 100%;
	}
	.nav.top, #center_column{
		padding-left:15px;
		padding-right:15px;
	}
	.responsive-margin{
		margin: 0 -15px;
	}
	#header{
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
	}
	#columns{
		padding-top: 52px;
	}
}
@media (max-width: 880px){
	#cart_summary tbody td.cart_product img{
		border-width: 0;
		display: inline-block;
	}
	#cart_summary tbody td.cart_product>a{
		width: 100%;
	}
	#cart_summary tfoot td#total_price_container{
		background: none;
	}
	  .cart_quantity .cart_quantity_input{
  	width: 100%;
  }
  .table  .cart_quantity_button a{
  	margin-right: 0;
  }
	.footer-container #footer .bottom-footer{
		text-align: center;
	}
	.footer-container #footer .footer-block,.footer-container #footer #social_block{
		width: 100%;
	}
	.footer-container #footer h4 {
		position: relative;
		margin: 14px 0;
		padding: 0;
	}
	.footer-container #footer h4:after {
		display: block;
		content: "\f107";
		font-family: 'fontAwesome';
		position: absolute;
		right: 0;
		top: -1px;
		font-size: 20px;
	}
	.footer-container #footer h4.active:after {
		content: "\f106";
	}
	#footer section,#footer .footer-block{
		border:none;
	}
	.footer-container #footer #social_block{
		text-align: center;
		display: table;
		margin: 0 auto;
		width: auto;
		float: none;
		clear: both;
	}
		ul.step li {
		width: 100%;
		border-left-width: 1px; 
	}
	ul.step li,ul.step li.step_done{
		border-bottom: 1px solid #e2e2e2;
	}
	ul.step li.step_dones.step_done_last{
		border:none;
	}
	ul.step li#step_end{
		border: none;
	}
		#order-detail-content #cart_summary table, #order-detail-content #cart_summary thead, #order-detail-content #cart_summary tbody, #order-detail-content #cart_summary th, #order-detail-content #cart_summary td, #order-detail-content #cart_summary tr {
		display: block; 
	}
	#order-detail-content #cart_summary thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px; 
	}
	#order-detail-content #cart_summary tr {
		border-bottom: 1px solid #cccccc;
		overflow: hidden; 
	}
	#order-detail-content #cart_summary tr:last-child{
		border-bottom: none;
	}
	#order-detail-content #cart_summary td {
		border: none;
		position: relative;
		width: 50%;
		float: left;
		white-space: normal; 
		text-align: center;
	}
		#order-detail-content #cart_summary td{
		width: 100% !important;
	}
	#order-detail-content #cart_summary td.cart_avail {
		clear: both;
	}
	#order-detail-content #cart_summary td.cart_quantity {
		clear: both;
		padding: 0 15px;
	}
	#order-detail-content #cart_summary td.cart_delete {
		width: 100%;
		clear: both;
	}
	#order-detail-content #cart_summary td.cart_delete:before {
		display: inline-block;
		padding-right: 0.5em;
		position: relative;
		top: -3px; 
	}
	#order-detail-content #cart_summary td:before {
		content: attr(data-title);
		display: block; 
	}
	#order-detail-content #cart_summary tfoot td:before {
		display: inline; 
	}
	#order-detail-content #cart_summary tfoot tr .text-right, #order-detail-content #cart_summary tfoot tr tbody td.cart_unit, #order-detail-content #cart_summary tbody tfoot tr td.cart_unit, #order-detail-content #cart_summary tfoot tr tbody td.cart_total, #order-detail-content #cart_summary tbody tfoot tr td.cart_total, #order-detail-content #cart_summary tfoot tr .price {
	display: block;
	float: left;
	width: 50%; 
	}
	.table .cart_quantity_button a{
		margin-top: 3px;
	}
	.table .cart_quantity_button a + a{
		float: right;
	}
	.page-subheading{
		font-size: 16px;
	}
	#order-detail-content{
		overflow-y:hidden;
	}
}
@media (max-width: 767px){
	.content_sortPagiBar .sortPagiBar label, .content_sortPagiBar .sortPagiBar .nbrItemPage .clearfix > span{
		font-size: 12px;
	}
	.hidden-mini{
		display: none;
	}
	#identity #center_column form.std .row .col-xs-4,
	#authentication #center_column form.std .row .col-xs-4,
	#order-opc #center_column form.std .row .col-xs-4 {
		max-width: none;
		width: 100%;
		margin-bottom: 15px;
	}
	  #identity #center_column form.std .row .col-xs-4>div,
  #authentication #center_column form.std .row .col-xs-4>div,
  #order-opc #center_column form.std .row .col-xs-4 >div{
  	max-width: none;
  }
}
@media (max-width: 639px){
	.cart_navigation .button-medium,.cart_navigation .btn.btn-default {
		margin-right: 10px;
		margin-bottom: 20px;
		min-width: 240px;
		float: none;
	}
	.cart_navigation{
		text-align: center;
	}
	.box{
		padding-left: 10px;
		padding-right: 10px;
	}
	.text-right{
		text-align: left;
	}
}
@media (max-width: 580px){
	#header {
		-webkit-transition:height .5s;
		-moz-transition:height .5s;
		-o-transition:height .5s;
		transition:height .5s;
	}
	#header.noShadow{
		height: 50px;
		overflow: hidden;
	}
	.bottom-footer p{
		font-size: 11px;
		margin-left: 0;
		margin-right: 0;
	}
	#order .delivery_option > div > table.resume td, #order-opc .delivery_option > div > table.resume td{
		display: block;
		width: 100% !important;
	}
	#order-opc .delivery_option > div > table.resume,
	#order .delivery_option > div > table.resume{
		border: none;
	}
	#order .delivery_option > div > table.resume td:not(:last-child), #order-opc .delivery_option > div > table.resume td:not(:last-child){
		border-bottom: none;
	}
	ul.footer_links li,ul.footer_links li + li {
		float: none;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin: 0 0 20px;
	}
	ul.footer_links li a{
		margin: 0;
		width: 100%;
	}
}
@media (max-width: 479px){
	.content_sortPagiBar .sortPagiBar .nbrItemPage,
	.content_sortPagiBar .sortPagiBar #productsSortForm{
		width: 100%;
	    padding: 0;
	}
}
@media (max-width: 480px){
	p.payment_module a{
		font-size: 14px;
	}
	.alert{
		font-size: 12px;
	}
	.page-subheading{
		font-size: 14px;
	}
	.content_sortPagiBar .sortPagiBar label, .content_sortPagiBar .sortPagiBar .nbrItemPage .clearfix > span{
		display: none;
	}
}
@media (min-width:640px){
	#currency_payement_chosen{
		margin-left: 10px;
	}
}
@media screen and (max-height: 900px){
	.logo{
		margin: 110px auto;
	}
}
@media screen and (max-height: 768px){
	.logo{
		margin: 90px auto;
	}
}

@media screen and (min-width: 1600px){
	#pagenotfound  #page,#pagenotfound  .columns-container,#pagenotfound  #columns,#pagenotfound  .inner-columns,#pagenotfound  #center_column{
		height: 100%;
	}
}
@media screen and (max-width: 1024px){
	#pagenotfound .pagenotfound h1{
		font-size: 140px;
	}
}
@media screen and (max-width: 991px){
	#pagenotfound #page .btn{
		padding-bottom: 8px;
		padding-top: 7px;
	}
}
@media screen and (max-width: 767px){
	#pagenotfound .pagenotfound h1{
		font-size: 100px;
	}
	#pagenotfound .pagenotfound .form-control {
		max-width: 293px!important;
		width: auto!important;
	}
}
@media screen and (max-width: 480px){
	#pagenotfound .pagenotfound h1{
		font-size: 80px;
	}
	#pagenotfound h2{
		font-size: 16px;
	}
	#pagenotfound .pagenotfound p{
		font-size: 14px;
	}
	#pagenotfound .pagenotfound .form-control {
		max-width: 180px!important;
	}
}