/*******************************************************
Product list Styles
********************************************************/
.list .grid-style{
	display: none;
}
.grid .list-style{
	display: none;
}
.product_list .color-list-container,.product_list .product-flags{
	display: none;
}
.product-desc{
  text-align: left;
}
.grid .product-desc{
	min-height: 36px;
}
#index .wrap_top_desc {
	display: none;
}
.category_list.product_list{
	position: relative;
}
.category_list.product_list>p:first-child{
	position: absolute;
	top: 0;
	left: 0;
}
.product_list .product-name {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-align:left;
  }
.product_list .product_img_link{
	display: inline-block;
	overflow: hidden;
	padding-top: 15px;
}
.product_list .product_img_link img {
	width: 100%;
}
.product_list .product-image-container {
	text-align: center;
	position: relative;
}
  .product_list .product-image-container img {
	margin: 0 auto; }
.product_list .quick-view {
	display: block;
	font-size: 16px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.category_list.grid.masonry .quick-view{
	display: none !important;
}
@media (max-width: 767px) {
	.product_list .product-image-container .quick-view {
		display: none;
	}
}
.product_list .comments_note {
	text-align: left;
	overflow: hidden;
	padding-top: 10px;
}
.product_list .star_content {
	float: left;
}
 .product_list.list .nb-comments{
 	display: none;
 }
 .product_list.list .comments_note{
 	padding-top: 0;
 }
.functional-buttons div a, .functional-buttons div label {
  font-weight: bold;
  color: #777676;
  cursor: pointer;
}

.product_list div.wishlist {
  border-right: 1px solid #d6d4d4; }
  .product_list . div.wishlist a:before {
	display: inline-block;
	font-family: "FontAwesome";
	content: "\f08a";
	margin-right: 3px;
	padding: 0 3px; }
  .product_list  div.wishlist a.checked:before {
	content: "\f004"; }
.product_list  div.compare a:before {
  content: "\f067";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px; }

.product_list div.compare a.checked:before {
  content: "\f068"; }
  .product_list .lnk_view{
	font-size: 14px;
  color: #000;
  float: right;
  font-weight: 600;
  padding: 7px 0;
  }

/*******************************************************
Product list(Grid) Styles 
********************************************************/
.product_list.grid {
  font-size: 0;
}
.grid .nb-comments {
	float: right;
}
.masonry.grid .inner-product-list{
  display: table;
  width: 100%;
}
.grid .ajax_block_product {
  font-size: 14px;
  border: 1px solid #dedede;
  padding: 0 0 20px;
  text-align: center;
  float: none;
  display: inline-block;
  vertical-align: top;
}
.jspContainer .grid .ajax_block_product+.ajax_block_product{
	border-left-width: 0;
}
.product_list.grid .ajax_block_product{

}
.product_list .ajax_block_product{
	padding-left: 45px;
	padding-right: 45px;
}

.product_list.grid .ajax_block_product .product-container {
	padding: 0;
	position: relative;
}
	.product_list.grid .product-image-container {
	  position: relative; }
.masonry .ajax_block_product{
	border-left-width: 0;
}
.masonry.grid .ajax_block_product{
	border-top: 1px solid #dedede;
	margin-bottom: -1px;
}
.product_list.masonry.grid{
	border-left: 1px solid #dedede;
}
.product_list.masonry.list{
	border-top-width: 0;
}
@media (max-width: 767px) {
	.product_list.grid .ajax_block_product .product-container .product-image-container {
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
}
	.product_list.grid .product-container h5 {
	  padding: 3px 0 7px;
	  margin: 0 0 9px;
	}
	.product_list.grid .ajax_block_product .product-container .content_price {
	  border-bottom: 1px solid #cccccc;
	  line-height: 21px;
	  padding-bottom: 9px;
	  text-align: left;
	}
	.product_list.grid .product-container .old-price,
	.product_list.grid .product-container .price,
	.product_list.grid .product-container .price-percent-reduction {
	  display: inline-block; }

	.product_list.grid .product-container .old-price {
	  float: right; }
 
	  .product_list.grid .ajax_block_product .product-container .functional-buttons div {
		width: 50%;
		float: left;
		padding: 3px 0 4px 0; }
.product_list.grid li.hovered h5 {
  min-height: 30px; }


/*******************************************************
Product list(List) Styles 
********************************************************/
.list .wrap_top_desc{
	display: none;
}
.list .lnk_view {
	line-height: 37px;
	height: 37px;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: normal;
	color: #fff;
	font-size: 13px;
}
.list  .ajax_block_product{
	width: 100%;
	border-top: 1px solid #d6d4d4;
}
.list .tag.price-percent-reduction,.list .tag.sale{
	right: 12px;
}
.list .tag.price-percent-reduction{
	top: 12px;
}
.list .tag.out-of-stock{
	top: 12px;
	left: 12px;
}
.product_list.list .product-container {
	padding-top: 30px;
	padding-bottom: 30px;
}
.product_list.list .product-image-container {
  position: relative;
  border: 1px solid #d6d4d4;
  padding: 9px; }
  .product_list.list .product-image-container .content_price {
	display: none !important;
}
.product_list.list .ajax_block_product h5 {
	margin-top: 0;
}
.product_list.list  .product-desc {
  margin-bottom: 15px; }
.product_list.list .center-block .comments_note {
  margin-bottom: 12px; }
.list .tag.sale{
	bottom: 12px;
}
.list .tag.new {
	left: 12px;
	top: 12px;
}

.product_list.scroll_carousel{
	padding-bottom: 90px;
}
  .product_list.list .content_price span {
	display: inline-block;
	margin-bottom: 14px; }
	.product_list.list .content_price span.old-price {
	  margin-right: 8px;
	float: right;
	color: #666; }
.product_list.list .button-container {
  padding-bottom: 20px; }
  .product_list.list .button-container .btn {
	margin-bottom: 10px; }


.product_list.list  .functional-buttons a {
  cursor: pointer; }
.product_list.list  .functional-buttons .wishlist {
  border: none; }
.product_list.list .functional-buttons .compare {
  padding-top: 10px; }
  .product_list.list .compare a:before {
	margin-right: 10px; }
.product_list .lnk_view{
  display: none;
}
.product_list.category_list .lnk_view{
	display: block;
}
.grid.category_list .lnk_view{
	z-index: 2;
	border-style: solid;
	border-width: 1px;
	z-index: 2;
	position: relative;
	border-color: transparent;
}
.category_list.grid .wrap_top_desc{
	position: absolute;
	z-index: 2;
	top: 0;
	text-align: left;
	padding: 14% 0 0 28%;
}
.category_list.grid .wrap_top_desc>a{
	display: block;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.3;
	margin-bottom: 5px;
}
.category_list.grid .wrap_top_desc>p{
	font-size: 14px;
	font-weight: 600;
}
.link_more{
	padding-top: 60px;
	text-align: center;
}
.link_style{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.product_list.list .button-container>a,.product_list.list .button-container>span{
	width: 100%;
	float: right;
	max-width: 190px;
	padding-left: 0;
	padding-right: 0;
}
.product_list.list .button-container>a span,.product_list.list .button-container>span>span{
	padding-left: 5px;
	padding-right: 5px;
}
/*******************************************************
Product list(Index page) Styles 
********************************************************/
.category_list .ajax_block_product{
	position: relative;
}
.product_list.category_list.list .ajax_block_product{
	padding-left: 0;
	padding-right: 0;
}
  #index .product_list.tab-pane .ajax_block_product .availability {
	display: none; }
.product_list.grid .ajax_block_product {
 	min-height: 455px;
}
.grid .button-container{
	margin-top: 15px;
}
@media (min-width:1600px) and (max-width: 1720px){
  .product_list .ajax_block_product{
	padding-left: 30px;
	padding-right: 30px;
	}
	.responsive-margin {
		margin: 0 -30px;
	}
	.product_list.grid .ajax_block_product {
 		min-height: 460px;
 		padding: 0 15px 15px;
	}
}
@media (max-width: 1366px){
  .product_list .ajax_block_product{
	padding-left: 30px;
	padding-right: 30px;
  }
}
@media (min-width: 1199px) and (max-width: 1366px){
	.product_list.grid .ajax_block_product{
		padding: 0 20px 20px;
	}
	.product_list.grid .lnk_view{
		font-size: 12px;
	}
	.grid .button.ajax_add_to_cart_button span{
		padding: 7px 15px;
	}
}
@media (min-width: 641px) {
  .product_list.list .ajax_block_product .right-block .right-block-content {
	padding-left: 15px;
	padding-bottom: 16px; }
	.product_list.list .ajax_block_product .center-block{
		border-right: 1px solid #d6d4d4;
	} 
}

@media (max-width: 1199px) {
	.product_list.grid .ajax_block_product {
 		min-height: 470px;
	}
	.product_list.list .button-container>a, .product_list.list .button-container>span,
	.product_list.list .content_price span.old-price{
		float: none;
	}
}
@media (max-width: 1024px) {
	.product_list .ajax_block_product{
		padding-left: 15px;
		padding-right: 15px;
	}
	.product_list .quick-view{
		display: none !important;
	}
	.category_list.grid .wrap_top_desc{
		display: none;
	}
}
@media (max-width: 991px) {
	.product_list.list .functional-buttons {
		clear: both;
	}
	.product_list.list .functional-buttons > div {
		float: left;
		padding-top: 0 !important;
		padding-right: 20px;
	}
}
@media (max-width: 880px) {
	.list .button-container>a{
		width: 100%;
	}
	.product_list.grid .button-container>a span,.product_list.grid .button-container>span span{
		padding-left: 15px;
		padding-right: 15px;
	}
	.product_list.grid .lnk_view{
		font-size: 12px;
	}
}
@media (max-width: 767px) {
	.product_list.grid .ajax_block_product {
 		min-height: 460px;
	}
}
@media (max-width: 640px) {
	.product_list.list .left-block,.product_list.list .center-block,
	.product_list.list .right-block{
		width: 100%;
	}
	.product_list.list .comments_note,
	.product_list.list .product-name,.product_list.list .product-container{
		text-align: center;
	}
	.list .star_content,.product_list.list .comments_note{
		float: none;
	}
	.product_list.list .button-container>a, .product_list.list .button-container>span{
		max-width: none;
		width: 100%;
	}
	.product_list.list .ajax_block_product h5{
		margin-top: 10px;
	}
	.product_list.list .ajax_block_product .product-container{
		max-width: 350px;
		margin: 0 auto;
	}
}
@media (max-width: 580px) {
	.product_list .ajax_block_product{
		width: 100%;
	}
	.product_list.grid.masonry .ajax_block_product {
 		min-height: 0;
	}
	.product_list.list .ajax_block_product .product-desc{
		padding-top: 15px;
	}
}
@media (min-width:481px) and (max-width: 580px) {
	.list .wrap-right-block,.list .button-container{
		width: 50%;
		float: left;
	}
	.product_list.list .button-container>a, .product_list.list .button-container>span, .product_list.list .content_price span.old-price{
		float: right;
	}
}
	@media (max-width: 480px) {
	.product_list.masonry{
		position: relative;
	}
	.product_list.responsive-margin .ajax_block_product{
		border-top: 1px solid #dedede;
		width: 100%;
		margin-bottom: 20px;
	}
	.product_list.list .right-block-content {
		padding-top: 5px; 
	}
	.product_list.list .center-block,.product_list.list .left-block {
		width: 100%;
	}
}