/* adjust body when menu is open */
/* body.slide-active {
    overflow-x: hidden
} */
/*first child of #columns so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
#left_column{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 12;
}
#slidemenu{
	height: 100%;
}
.container_left .jspContainer,.container_left .jspPane{
	width: 100% !important;
}
.container_left .jspPane{
	margin-left: 0 !important;
	left: 0 !important;
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#columns {
    position: relative;
    left: 0;
}
#columns.slide-active {
    padding-top: 0
}
#left_column .navbar-toggle:before{
	display: block;
	content: "\f0c9";
	font-family: 'fontAwesome';
}

#left_column .navbar-toggle {
	cursor: pointer;
	line-height: 0;
	float: left;
	margin: 0;
	width: 22px;
	padding: 0;
	border: 0;
	background: transparent;
	left: 12px;
	top: 25px;
	font-size: 24px;
	position: absolute;
	z-index: 3;
}
#left_column .navbar-toggle.slide-active{
	left: auto!important;
	right: 100%;
	margin-right: -1px;
	width: 50px;
	top: 0px;
}
#left_column .navbar-toggle.slide-active:before{
	color: #333;
	width: 50px;
	height: 50px;
	line-height: 49px;
	border: 1px solid #333;
	display: block;
	text-align: center;
	border-right: 0;
	border-top: 0;
}
#left_column .navbar-toggle.slide-active:after{
	display: none;
}
/* icon bar prettyup - optional */
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
	#left_column #slidemenu,
	#left_column #navbar-height-col,#left_column .navbar-header,#columns{
		-webkit-transition:all .2s;
		-moz-transition:all .2s;
		-o-transition:all .2s;
		transition:all .2s;
	}
.container_left{
	overflow: visible !important;
	}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:1024px) {
	.container_left{
	width: 320px !important;
	}
	#left_column:not(.slide-active) .container_left,#left_column:not(.slide-active) .container_left .jspPane{
		height: 0 !important;
	}
	#left_column{
		height: 0;
	}
	.logo{
		margin: 0 auto 50px;
		padding-top: 30px;
	}
	#columns{
		clear: both;
	}
	#left_column .container {
	    margin: 0;
	    padding: 0!important;
	}
	#left_column .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#left_column .navbar.slide-active {
	    position: absolute;
	    width: 100%;
	    top: -1px;
	    z-index: 1000;
	}
	#left_column #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 320px;
	    min-width: 0;
	   	position: relative;
	    padding-left: 0;
	    z-index: 2;
	    top: 0px;
	    margin: 0;
	}
	#left_column #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#left_column #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 100%;
	    white-space: normal;
	}
	#left_column {
	    border-top: 0
	}
	#left_column.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#left_column #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 320px;
	    left: -100%;
	    background: #f7f7f7;
	}
	#left_column.navbar-inverse #navbar-height-col {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
}
@media (min-width:1025px) {
	#columns>div,#left_column #slidemenu {
		width: 100%;
	}
	#columns {
	    left: 0!important;
	    margin-left: 16.66667%;
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}
@media (max-width: 380px){
	#left_column .navbar.slide-active,#left_column #slidemenu,#left_column #slidemenu .navbar-nav .dropdown-menu li a,
	#left_column #navbar-height-col  {
	    width:100%;
	}
	.container_left{
		width: 100% !important;
	}
	#left_column #navbar-height-col{
		left: -100% !important;
	}
	#left_column .navbar-header,#columns,#left_column.slide-active #navbar-height-col{
		left: 0 !important;
	}
	#left_column .navbar-header.slide-active,#columns.slide-active{
		left: 100% !important;
	}
}
