
@media (min-width: 481px){
	.styled-select{
		max-width: 293px;
	}
	.sortPagiBar .styled-select{
		vertical-align: middle;
		display: inline-block;
	}
}
.styled-select dl{
	margin-bottom: 0;
}
.content_sortPagiBar .selected_name{
	border-bottom: 1px dashed;
}
.layered_filter .styled-select li:first-child{
	display: none!important;
} 
.content_sortPagiBar .styled-select .closed dt.option{
	border-color: transparent;
	background: none;
}
#layered_block_left .layered_filter .styled-select ul li{
	padding: 7px 16px;
	line-height: 1;
}
.sortPagiBar .styled-select{
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
}
/* select */
.styled-select  {
	cursor: pointer;
}
.styled-select select {
	position: absolute;
	visibility: hidden;
}
.styled-select dl {
	position: relative;
}
.styled-select .option {
	box-sizing: border-box;	
	float: none!important;
	padding: 7px 16px;
	background: #FFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	line-height: 1;
}
.styled-select .option:last-child,
#layered_block_left .layered_filter .styled-select ul li.option:last-child{
	padding-bottom: 21px;
}
.styled-select dt.option {
	border: 1px solid #e8e8e8;
	position: relative;
	padding-right: 30px;
	line-height: 35px;
	height: 35px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.styled-select li:hover{
	color: #00aeb4;
}
.styled-select ul li.optgroup {
	cursor: default;
	background: #F5F5F5;
}
.styled-select dl i.toggle {
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	line-height: 35px;
	display: block;
	text-align: center;
}
.styled-select dl i.toggle:before {
	content: "˅";
}
.styled-select  ul {		
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999999;
	top:100%;
	border: 1px solid #e8e8e8;
	border-top: 0;
	background: #FFF;
	margin: -1px 0 0 0;
	overflow-y: auto;
}
.styled-select  ul.above {
	top: auto;
	bottom: 100%;
}
.styled-select li{
	font-size: 12px;
}
.styled-select dl.closed ul {
	display:none;	
}
/* line 235, ../sass/_ui.scss */
.styled-select.mobile ul {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 378px;
  padding: 0 20px 20px;
  background: #fff;
  border: none !important;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1); }
  /* line 245, ../sass/_ui.scss */
  .styled-select.mobile ul .option {
    font-size: 15px !important;
    padding: 13px 0;
    border-bottom: 1px solid #dbdbdb !important;
    white-space: normal; }
  @media screen and (max-width: 380px) {
    /* line 235, ../sass/_ui.scss */
    .styled-select.mobile ul {
      left: 15px;
      right: 15px; } }
/* checkbox/radio */
.styled-checkbox, .styled-radio {
	display: inline-block;
	border: 1px solid #DDD;
	padding: 0;
	width: 15px;
	height: 15px;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
}
.styled-checkbox input, .styled-radio input{
	position: absolute;
	margin: auto!important;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.styled-radio {
	border-radius: 100%;
}
.styled-checkbox.checked:before, .styled-radio.checked:before{
	content: '';
	display: block;
	margin: auto;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 5px;
	height: 5px;
	background: #39DAB9;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.styled-checkbox.checked:before {
	background: none;
	border-radius: 0;
	border-radius: 0;
	top: -3px; right: -1px; bottom: 2px; left: 1px;
	width: 11px;
	height: 7px;
	border-style: solid;
	border-color: transparent transparent #39DAB9 #39DAB9;
	border-width: 0 0 3px 3px;
	-webkit-transform: rotate(-45deg);	
	transform: rotate(-45deg);	
}

/* file */
.styled-file {	
	display: inline-block;
	border: 1px solid #DDD;
	position: relative;
	width: 100%;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  
}
.styled-file .file-button {
	padding: 3px 5px;
	margin: 3px 7px 3px 3px;
	border: 1px solid #DDD;
	background: #FAFAFA;
	display: inline-block;
	vertical-align: middle;
}
.styled-file:hover .file-button{
	background: #EEE;
}
.styled-file .file-name {
	vertical-align: middle;
}
.styled-file input {
	position: absolute;
	margin: 0!important;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;	
}