/* kwicks top page */
.custombanners.displayLeftColumn .banners-one-by-one {
	position: relative;
	width: 100%;
	height: 100%;
}
.kwicks .owl-item .banner-item{
	width: 100%!important;
}
.banner-item-content{	
	position: relative;
}
.banner-img{
	display: block;
}
.custombanners.displayLeftColumn {
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	vertical-align: middle;
	text-align: center;
	background: #fff;
	margin: auto;
	padding: 10px;
	width: 100%;
	height: 58px;
}
.custombanners.displayLeftColumn  .banner-item{
	top: 0;
	position: absolute;
	display: inline-block;
	text-align: left;
	margin: auto;
	width: 38px;
	height: 38px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #00aeb4;
	 border: 1px solid;
	 white-space: nowrap;
	 z-index:0;
	 overflow: hidden;
}
.social-links,.social-links li{
	display: inline-block;
}
.social-links{
	font-size: 0;
}
.social-links li{
	margin: 0 7px;
}
.social-links li a:before{
	font-size: 17px;
	font-family: 'fontAwesome';
	line-height: 36px;
}
.social-links li.twitter a:before{
	content: "\f099";
}
.social-links li.facebook a:before{
	 content: "\f09a"; 
}
.social-links li.google-plus a:before{
	content: "\f0d5";
}
.custombanners.displayLeftColumn  .banner-item em{
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	font-family: 'Open Sans';
	vertical-align: middle;

}
.custombanners.displayLeftColumn  .banner-item:hover{
	background: #00aeb4;
	color: #fff;
	border-color: #00aeb4;
	width: 100%;
	z-index: 1;
}
.custombanners.displayLeftColumn  .banner-item:nth-child(1){
	left: 0;
}
.custombanners.displayLeftColumn  .banner-item:nth-child(3){
	right: 0;
}
.custombanners.displayLeftColumn  .banner-item:nth-child(2){
	left: 0;
	right: 0;
	margin: 0 auto;
}
.custombanners.displayLeftColumn  .banner-item p>a:before,.custombanners.displayLeftColumn  .banner-item .share-items:before{
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	line-height: 36px;
   margin: 0 13px 0 9px;
	vertical-align: middle;
}
.custombanners.displayLeftColumn  .banner-item .share-items:before{
	content: '\e800';
	font-family: 'icomoon';
	vertical-align: top;
	margin-right: 20px;
}
.custombanners.displayHome {
	margin: 40px 0px 130px;
}
.custombanners.displayHome .htmlcontent-item{
	position: relative;
}
.custombanners.displayHome .custom-html p{
	margin: 0;
}
.custombanners.displayHome .custom-html{
	position: absolute;
	font-size: 25px;
	font-weight: 800;
	font-size: 25px;
	top: 34%;
	left: 6%;
}
.custombanners.displayHome .banner-item-content{
	position: relative;
	overflow: hidden;
}
.custombanners.displayHome .custom-html .bold{
	font-weight: 700;
	display: block;
	padding-bottom: 12px;
}
.custombanners.displayHome .custom-html .normal{
	font-weight: 600;
}
.custombanners.displayTopColumn {
	margin: 60px -15px 40px;
	text-align: center;
}
.custombanners.displayTopColumn .banners-one-by-one {
	font-size: 0;
	display: table;
	width: 100%;
}
.custombanners.displayTopColumn .banner-item{
	float: none;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.custombanners.displayTopColumn .sticker_banner{
	position: absolute;
	background: #fff;
	top: 20%;
	right: 14%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	text-align: center;
	padding-top: 18px;
	line-height: 1;
}

.custombanners.displayTopColumn .text-style{
background: #fff;
position: absolute;
top: 18%;
padding: 10px 25px;
width: 100%;
color:#060606;
font-size: 18px;
font-weight: 400;
}

.custombanners.displayTopColumn .sticker_banner em {
	display: block;
	font-size: 35px;
	font-weight: 400;
}

.custombanners.displayTopColumn .sticker_banner em {
	color: #bf0000;
}

.custombanners.displayTopColumn .sticker_banner strong {
	display: inline-block;
	vertical-align: top;
	height: auto;
	color: #292929;
	font-size: 19px;
	text-align: right;
}
.kwicks {
	display: block;
	list-style-type: none;
	list-style: none;
	position: relative;
	margin: 0;
	height: 460px;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}
	.kwicks .custom-html:after{
		font-family: 'icomoon';
		content: "\e8023";
		display: block;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		border-style: solid;
		border-width: 1px;
		font-size: 20px;
		font-weight: 300;
		position: absolute;
		bottom: 30px;
		left: 40px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
.kwicks .banner-item  img {
	max-width: none;
	width: auto;
}
.kwicks > * {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.kwicks > *{
	position: relative;
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}
.kwicks-horizontal > * {
	float: left;
}
.kwicks-horizontal > :first-child {
	margin-left: 0;
}
.kwicks-vertical > :first-child {
	margin-top: 0;
}
.custombanners.displayTopColumn .banner-item-content {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.custombanners.displayTopColumn .banner-item-content img {
	width: 100%;
}
.kwicks .custom-html{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 70px 0 0 45px;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
}

.kwicks .custom-html h3 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 23px;
	color: inherit;
}
.kwicks .custom-html p{
	font-size: 14px;
}
.wrap_scroll{
	width: 100%;
	overflow: hidden;
}
.html-over .custom-html {
	display: table;
	margin: auto;
	position: absolute;
	width: 100%;
	top: 0; left: 0; bottom: 0; right: 0;
}
.img-rb .banner-item-content img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.custombanners .bx-wrapper .bx-controls-direction a {
	width: 25px;
	height: 52px;
	line-height: 52px;
	top: 50%;
	margin-top: -26px;
	right: 0;
	text-align: center;
	background: rgba(255,255,255,.5);
	border-radius: 3px 0 0 3px;
	padding: 0 0 0 5px;
}
.custombanners .bx-wrapper .bx-controls-direction a:before {
	color: #333;
	line-height: 52px;
	padding: 0;
	content: "\f054";	
}
.custombanners .bx-wrapper .bx-controls-direction a.bx-prev {
	left: 0;
	padding: 0 5px 0 0;
	border-radius: 0 3px 3px 0;
}
.custombanners .bx-wrapper .bx-controls-direction a.bx-prev:before {
  content: "\f053";
}
.n-hover .bx-wrapper .bx-controls-direction {
	display: none;
}
.n-hover .bx-wrapper:hover .bx-controls-direction {
	display: block;
}
.custombanners .bx-controls.bx-has-pager {
	margin-bottom: 35px;
}
.custombanners .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link {
	width: 12px;
	height: 12px;
	border: 2px solid #333;
	background: #FFF;
	border-radius: 100%;
} 
.custombanners .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link:hover, .custombanners .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link.active {
	background: #333;
}

@media (min-width: 992px) and (max-width:1199px){
	.custombanners.displayTopColumn .text-style{
		font-size: 12px;
		padding-left: 10px;
	}
	.custombanners.displayTopColumn .sticker_banner{
		height: 60px;
		width: 60px;
		padding-top: 14px;
	}
	.custombanners.displayTopColumn .sticker_banner em{
		font-size: 20px;
	}
	.custombanners.displayTopColumn .sticker_banner strong{
		font-size: 14px;
	}
}
@media (max-width: 1679px){
	.custombanners.displayTopColumn .text-style{
		font-size: 15px;
		padding: 10px 14px
	}
	.custombanners.displayTopColumn .sticker_banner{
		height: 80px;
		width: 80px;
	}
	.custombanners.displayTopColumn .sticker_banner em{
		font-size: 30px;
	}
	.custombanners.displayTopColumn .sticker_banner strong{
		font-size: 17px;
	}
}
@media (max-width: 1366px){
	.kwicks .custom-html{
		padding-left: 30px;
	}
	.kwicks .custom-html h3{
		font-size: 21px;
	}
	.kwicks .custom-html p{
		font-size: 12px;
	}
	.custombanners.displayTopColumn .text-style{
		font-size: 14px;
		padding: 10px 5px 10px 14px;
	}
	.custombanners.displayTopColumn .sticker_banner{
		height: 70px;
		width: 70px;
		padding-top: 17px;
	}
	.custombanners.displayTopColumn .sticker_banner em{
		font-size: 25px;
	}
	.custombanners.displayTopColumn .sticker_banner strong{
		font-size: 15px;
	}
	.custombanners.displayHome .custom-html{
		font-size: 20px;
	}
	.custombanners.displayHome .custom-html .bold{
		padding-bottom: 5px;
	}
}
@media (max-width: 1199px){
	.kwicks .custom-html h3 {
		font-size: 18px;
	}
	.kwicks .custom-html p {
		font-size: 11px;
	}
	.custombanners.displayTopColumn .sticker_banner {
		height: 60px;
		width: 60px;
		padding-top: 12px;
	}
	.custombanners.displayTopColumn .sticker_banner em {
		font-size: 20px;
	}
	.custombanners.displayTopColumn .text-style {
		font-size: 12px;
		padding: 10px 5px 10px 10px;
	}
}
@media (max-width: 991px){
	.custombanners.displayTopColumn .banner-item {
		margin-bottom: 30px;
	}
	.kwicks .custom-html {
		padding-left: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.kwicks .custom-html h3 {
		font-size: 13px;
	}
	.kwicks .custom-html p {
		font-size: 10px;
	}
}
@media (max-width: 1024px){
	.custombanners.displayHome {
		margin: 20px 0px 60px;
	}
}
@media (max-width: 767px){
	.custombanners.displayHome .custom-html{
		top: 28%;
		font-size: 17px;
	}
	.wrap_scroll .jspHorizontalBar{
		margin-bottom: 22px;
	}
	.custombanners.displayTopColumn .banners-one-by-one {
		text-align: center;
	}
	.kwicks{
		padding-bottom: 31px;
	}
	.kwicks .owl-controls{
		float: none;
		clear: both;
		width: 100%;
		text-align: center;
	}
	.kwicks .owl-buttons{
		display: inline-block;
	}
}
@media (max-width: 640px){
	.custombanners.displayHome .custom-html{
		top: 12%;
		font-size: 14px;
	}
	.custombanners.displayHome .custom-html .bold{
		padding-bottom: 0;
	}
}
@media (max-width: 480px){
	.custombanners.displayHome .custom-html {
		font-size: 12px;
		line-height: 1.2;
	}
	[class*=".col-xxs-"]{ float: left; }
	.col-xxs-1  { width: 8.3%; }
	.col-xxs-2  { width: 16.6%; }
	.col-xxs-3  { width: 25%; }
	.col-xxs-4  { width: 33.3%; }
	.col-xxs-5  { width: 41.8%; }
	.col-xxs-6  { width: 50%; }
	.col-xxs-7  { width: 58.3%; }
	.col-xxs-8  { width: 66.6%; }
	.col-xxs-9  { width: 75%; }
	.col-xxs-10 { width: 83.3%; }
	.col-xxs-11 { width: 91.6%; }
	.col-xxs-12 { width: 100%; }
}
@media (max-width: 380px){
	.custombanners.displayHome .custom-html {
		font-size: 10px;
		line-height: 1.2;
		top: 0;
	}
}
@media (max-width: 320px){

}
@media screen and (max-height: 900px) {
	.kwicks .custom-html{
		padding-top: 30px;
	}
}
@media screen and (max-height: 768px) {
	.kwicks .custom-html{
		padding-top: 20px;
	}
}