#search_block_top #searchbox {
	float: left;
	width: 100%;
}
#search_block_top .button-search {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	border: none;
	color: #323232;
	text-align: center;
	background: transparent;
	padding: 0px;
	bottom: 0px;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	}
	#search_block_top .button-search span {
	  display: none; }
	#search_block_top .button-search:before {
	  content: "\f002";
	  display: block;
	  font-family: "FontAwesome";
	  width: 100%;
	  text-align: center; }
  #search_block_top #search_query_top {
	display: inline;
	padding: 0 13px;
	line-height: 25px;
  height: 28px;
	background: #777777;
	margin-right: 1px;
	border: 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	border-radius: 20px;
  color: #b4b4b4;
  font-weight: 600;
	-webkit-box-shadow: 0 0 10px transparent;
  -moz-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
	}
  #search_query_top::-webkit-input-placeholder {color:#b4b4b4;}
#search_query_top::-moz-placeholder          {color:#b4b4b4;}/* Firefox 19+ */
#search_query_top:-moz-placeholder           {color:#b4b4b4;}/* Firefox 18- */
#search_query_top:-ms-input-placeholder      {color:#b4b4b4;}
#search_block_top #search_query_top:focus {
  -webkit-box-shadow: 0 0 10px #fff;
  -moz-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
	padding: 0 10px;
	font-weight: normal;
	color: #686666;
	font-size: 13px;
	line-height: 22px; }
	.ac_results li.ac_odd {
	  background: white; }
	.ac_results li:hover, .ac_results li.ac_over {
	  background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
	color: #333333; }
  form#searchbox input#search_query_block {
	margin-right: 10px;
	max-width: 222px;
	margin-bottom: 10px;
	display: inline-block;
	float: left; }
  form#searchbox .button.button-small {
	float: left; }
form#searchbox .button.button-small i {
	margin-right: 0;
}
@media (max-width: 767px){
#search_block_top{
	width: 118px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	max-width: 480px;
	-webkit-transition:width .4s ease-in;
	-moz-transition:width .4s ease-in;
	-o-transition:width .4s ease-in;
	transition:width .4s ease-in;
	overflow: hidden;
}
#search_block_top.search-active{
	width: 90%;
	width: calc(100% - 35px);
}
#search_block_top #search_query_top{
	width: 100%;
}
#search_block_top:not(.search-active){
	width: 60px;
}
#search_block_top:not(.search-active) #search_query_top{
	background-color: transparent;
	font-size: 0;
}
#search_block_top .button-search{
	font-size: 16px;
	transition:all .5s;
}
#search_block_top:not(.search-active) .button-search{
	right: -40px;
}
#searchbox:before{
	content: "\f002";
	display: block;
	font-family: "FontAwesome";
	color: #fff;
	position: absolute;
	z-index: -1;
	right: 10px;
	top: 0px;
	font-size: 16px;
}
.search-active #searchbox:before{
	display: none;
}
}