#product_comments_block_extra:before {
	display: none;
}
#product_comments_block_extra .comments_note, #product_comments_block_extra .comments_advices {
	display: inline-block;
	vertical-align: top;
}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
	float: left;
	color: #333333;
}
#product_comments_block_extra .star_content {
	margin-top: 1px;
}
#product_comments_block_extra .comments_advices{
	padding-left: 5px;
}
  .comments_advices li {
	display: inline-block;
	position: relative;
	font-size: 14px;
	padding: 0 0 10px;
}
	.comments_advices a:before {
	  display: inline-block;
	  font-family: "FontAwesome";
}
.comments_advices a.open-comment-form{
	padding-left: 14px;
}
	.comments_advices a.open-comment-form:before {
		  content: "\f040"; 
		 position: absolute;
		left: 0;
}
.comments_advices a.reviews {
	border-right: 1px solid #333;
	padding-right: 10px;
	margin-right: 9px;
	color: #333;
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px; }

#fancybox-content {
  width: 585px;
  border-width: 0; }

#new_comment_form {
  overflow: hidden;
  padding: 0 3px;
  text-align: left; }
  #new_comment_form h2 {
	margin-bottom: 10px; 
line-height: 22px;}
  #new_comment_form .title {
	padding: 10px;
	font-size: 13px;
	color: white;
	text-transform: uppercase;
	background: #333333; }
  #new_comment_form ul.grade_content {
	list-style-type: none;
	margin: 0 0 20px 0; }
	#new_comment_form ul.grade_content li {
	  width: 50%; }
	#new_comment_form ul.grade_content span {
	  display: inline-block;
	  padding: 0 10px;
	  width: 150px;
	  font-weight: bold; }
	#new_comment_form ul.grade_content .cancel {
	  margin-right: 5px; }
  #new_comment_form .product {
	padding: 15px; }
	#new_comment_form .product img {
	  border: 1px solid #d6d4d4; 
		float: left;
		margin-right: 10px;
	}
	#new_comment_form .product .product_desc {
	  line-height: 18px;
	  color: #666666; }
	  #new_comment_form .product .product_desc .product_name {
		padding: 10px 0 5px;
		font-size: 13px;
		color: #000; }
#new_comment_form .new_comment_form_content {
	padding: 15px 15px 20px;
}

	#new_comment_form .new_comment_form_content .intro_form {
	  padding-bottom: 10px;
	  font-weight: bold;
	  font-size: 12px; }
#new_comment_form label {
	display: block;
	margin: 0px 0 10px 0;
	font-weight: normal;
	font-size: 13px;
}
#new_comment_form input, #new_comment_form textarea {
	padding: 0 10px;
	height: 35px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	background: white;
	margin-bottom: 15px;
}
#new_comment_form textarea {
	height: 90px;
	padding: 10px;
}
  #new_comment_form .submit {
	margin-top: 20px;
	padding: 0;
	font-size: 13px;
	text-align: right; }
  #new_comment_form #criterions_list {
	padding-bottom: 15px;
	list-style-type: none; }
	#new_comment_form #criterions_list li {
	  margin-bottom: 10px; }
	#new_comment_form #criterions_list label {
	  line-height: 14px;
	  float: left;
	  margin: 0 10px 0 0; }
#new_comment_form #new_comment_form_footer {
	margin-top: 20px;
	font-size: 12px;
	clear: both;
}
#new_comment_form  .rate_list_product{
	padding-bottom: 20px;
}
#new_comment_form_footer .al_center {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}
#new_comment_form_footer .button{
	min-width: 110px;
	vertical-align: top;
}
#new_comment_form_footer .closefb {
	margin-right: 12px;
}
/* TAB COMMENTS ******************************************************************************** */
  #product_comments_block_tab div.comment {
	margin: 0 0 14px;
	padding-top: 14px;
	border-top: 1px solid #d6d4d4; }
	#product_comments_block_tab div.comment:first-child {
	  padding: 0;
	  border: none; }
	#product_comments_block_tab div.comment .comment_author {
	  padding: 0 20px;
	  line-height: 18px;
		line-height-font-weight: bold;
		line-height-float: left; }
	  #product_comments_block_tab div.comment .comment_author .star_content {
		display: inline-block;
		vertical-align: middle;}
	#product_comments_block_tab div.comment .comment_details {
	  overflow: hidden;
	  border-left: 1px solid #d6d4d4; }

  #product_comments_block_tab .comment_author_infos {
	clear: both;}
	#product_comments_block_tab .comment_author_infos strong {
	  display: block;
	  color: #333333; }
	#product_comments_block_tab .comment_author_infos em {
	  color: #adadad; }
#product_comments_block_tab a {
	text-decoration: none;
	display: table;
	margin: 0 auto;
}
  #product_comments_block_tab span.report_btn {
	cursor: pointer; }
  #product_comments_block_tab span.report_btn:hover {
	text-decoration: underline; }

.fl {
  float: left; }

.fr {
  float: right; }
#id_new_comment_form .dproductrating{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
#idTab5 .comment{
	margin-bottom: 20px;
}
.comment_author_infos strong,.comment_details .title_block strong {
	font-weight: 700;
	font-family:'Open Sans';
	padding-bottom: 10px;
	display: inline-block;
	font-weight: bold;
}
.comment_details .body_review{
	line-height:1.5;
	color: #333;
	font-weight: 300;
	font-family:'Open Sans';
}
#product_comments_block_tab .align_center{
	text-align: center;
}
@media (max-width:579px){
	#new_comment_form h2{
		line-height: 25px;
	}
}
@media (max-width: 480px){
	#new_comment_form_footer .button,#new_comment_form_footer .closefb {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	#new_comment_form .product{
		text-align: center;
	}
	#new_comment_form .product .product_desc{
		text-align: left;
	}
	#new_comment_form .product img {
		float: none;
		display: inline-block;
	}
	#product_comments_block_extra .comments_note{
		padding-bottom: 10px;
	}
	#product_comments_block_extra .comments_note, #product_comments_block_extra .comments_advices{
		display: block;
	}
}