 #header_links a {
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-size: 12px;
font-weight: 600;
}

#header_links li {
float: left;
white-space: nowrap;
}

#header_links li:after {
content: '';
margin: 0px 28px;
border-left: 1px solid #848484;
height: 25px;
}

#header_links li:last-child:after {
border-left: none;
margin: 0px;
}


ul#header_links {
margin: 0px;
}
#drop_links {
	display: block;
	font-size: 14px;
}
.module-header-links{
	float: left;
	padding: 0 15px;
}

@media screen and (min-width: 1366px){
	#drop_links {
		display: none;
	}
	ul#header_links{
		background: none;
	}
}
@media (max-width: 1365px){
	ul#header_links {
		position: absolute;
		top: 100%;
		left: 15px;
		z-index: 100;
		line-height: 1.2;
		display: none;
		width: auto;
		white-space: nowrap;
	}
	.module-header-links{
		position: relative;
	}
	#header_links li{
		width: 100%;
	}
	#header_links li:after{
		display: none;
	}
	#header_links a{
		display: block;
		padding: 7px 10px 7px 12px;
		font-size: 12px;
		text-transform: none;
	}
	#header_links a:hover{
		background: #484848;
	}
}
@media (max-width: 1680px){
	#header_links a{
		font-size: 11px;
	}
	#header_links li:after{
		margin: 0 16px;
	}
}
@media (max-width: 1024px){
	.module-header-links{
		margin-left: 40px;
	}
}