#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }
  #categories_block_top .sf-menu {
	position: relative; }
	#categories_block_top .sf-menu > li {
	  position: static; }
	  #categories_block_top .sf-menu > li > ul {
		width: 100%;
		top: 60px;
		margin: 0 20px; }
		#categories_block_top .sf-menu > li > ul > li {
		  display: block;
		  float: left;
		  width: 20%;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  padding: 0 10px; }
		#categories_block_top .sf-menu > li > ul > .category_thumb {
		  display: block;
		  clear: both;
		  overflow: hidden;
		  width: 100%; }
		  #categories_block_top .sf-menu > li > ul > .category_thumb img {
			display: inline-block;
			width: 33%; }
	  #categories_block_top .sf-menu > li h4 a {
		font-size: 1.1em; }
		#categories_block_top .sf-menu > li h4 a:before {
		  display: none; }
	  #categories_block_top .sf-menu > li .main-level-submenus {
		position: relative;
		display: block !important;
		visibility: visible !important;
		top: 0;
		background: none;
		box-shadow: none;
		padding: 0;
		left: 0; }
	#categories_block_top .sf-menu .category_thumb {
	  display: none; }
#categories_block_left .block_content_category>ul>li>a {
	border-top-style: solid;
	border-top-width: 1px;
}
#categories_block_left .block_content_category>ul>li.last>a {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
  #categories_block_left li a {
	font-weight: bold;
	color: #292929;
	display: block;
	font-size: 13px;
	padding: 10px 30px 10px 19px;
	text-transform: uppercase;
	}
#categories_block_left li span.grower {
	display: block;
	float: right;
	cursor: pointer;
	font-family: "FontAwesome";
	font-size: 14px;
	line-height: 39px;
	clear: both;
}
	#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
	  content: "\f0d7";
	  display: block;
	  vertical-align: middle;
	  width: 30px;
	  color: #858585;
	  text-align: center; }
	#categories_block_left li span.grower.CLOSE:before {
	content: "\f0da";
	}
  #categories_block_left li span.grower:hover + a,
  #categories_block_left li:hover>a,
  #categories_block_left li a.selected {
	background: #222; 
	color: #fff;
}
 #categories_block_left li:hover span.grower.OPEN:before, #categories_block_left li:hover span.grower.CLOSE:before{
  color: #fff;
 }
  #categories_block_left li li a {
	font-weight: normal;
	color: #fff; }

#categories_block_left li {
line-height: 1.5;
display: block;
}
#categories_block_left li li {
	position: relative;
}
#categories_block_left {
margin-bottom: 140px;
clear: both;
}
 #categories_block_left .block_content_category>ul>li>a{
  	margin-right: -1px;
  }
@media (min-width: 1025px){
	#categories_block_left li li:hover a{
		color: #00aeb4;
	}
  #categories_block_left li span.grower.CLOSE:before,#categories_block_left li span.grower.OPEN:before{
	content: "\f0da";
  }
  #categories_block_left ul li .wrap-drop-category {
	position: absolute;
	display: block !important;
	visibility: hidden;
	left: 120%;
	height: 100%;
	top: 0;
	opacity: 0;
	min-width: 240px;
	z-index: 100;
	background: #222;
  }
#categories_block_left .block_content_category ul li .wrap-drop-category>ul{
	display: block !important;
	padding: 30px 0;
}
#categories_block_left .block_content_category ul li li .wrap-drop-category ul{
	border-left-style: solid;
	border-left-width: 1px;
}
#categories_block_left .block_content_category ul li li .wrap-drop-category{
	height: auto!important;
}
#categories_block_left .block_content_category>ul>li>.wrap-drop-category>ul{
	display: block !important;
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 30px 0;
}
#categories_block_left ul li:hover>.wrap-drop-category {
	visibility: visible;
	opacity: 1;
	left: 100%;
}
  #categories_block_left li li a {
  padding: 10px 30px 10px 19px;
  text-transform: none;
  }

}
@media screen and (min-width: 1440px){
	#categories_block_left li a {
		padding-left: 40px;
		padding-right: 25px;
	}
}
@media screen and (min-width: 1680px){
	#categories_block_left li a {
		padding-left: 60px;
		padding-right: 35px;
	}
}
@media (max-width: 1024px){
	#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before{
		width: 80px;
		padding-right: 15px;
		text-align: right;
	}
	#categories_block_left li{
		position: relative;
	}
	#categories_block_left ul li .wrap-drop-category>ul{
		border: none;
		margin-top: 0 !important;
		top: 100% !important;
		left: 0px;
		right: 0px;
		background: #fff;
		z-index: 1;
	}
	#categories_block_left li li a{
		color: #222;
	}
	#categories_block_left .block_content_category>ul li>a,#categories_block_left .block_content_category>ul li.last>a{
		display: inline-block;
		padding: 10px 80px 10px 19px !important;
		border:none;
		background: none !important;
		color: #222 !important;
	}
	#categories_block_left li span.grower {
	float: none;
	position: absolute;
	right: 0;
	top: 0px;
}
	#categories_block_left .block_content_category>ul li{
		position: relative;
		border-top-style: solid;
		border-top-width: 1px;
		border-color: #d1d1d1;
		cursor: pointer;
	}
	#categories_block_left li:hover span.grower.OPEN:before, #categories_block_left li:hover span.grower.CLOSE:before{
		color: #858585;
	}
	#categories_block_left .block_content_category>ul li.last:not(.OPEN){
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
}

@media screen and (max-height: 900px){
	#categories_block_left{
		margin-bottom: 80px;
	}
}
@media screen and (max-height: 768px){
	#categories_block_left{
		margin-bottom: 60px;
	}
}
@media screen and (min-width: 1025px) and (max-height: 640px){
	#categories_block_left{
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 480px){
	#categories_block_left li a{
		font-size: 11px;
	}
	#categories_block_left li span.grower {
		line-height: 36px;
	}
}