/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
	max-width: 222px;
	display: inline-block;
	margin-right: 6px; }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
	overflow: hidden;
	border: 0px;
	}
	#footer #newsletter_block_left h4,#footer #newsletter_block_left h5 {
	background: none;
	display: block;
	border: none;
	margin: 0px;
	padding: 0px 0px 10px;
	}
  #footer #newsletter_block_left h4{
	padding-bottom: 27px;
  }
  #footer #newsletter_block_left .block_content {
	overflow: hidden; }
  #footer #newsletter_block_left .form-group {
	margin-bottom: 0; }
	#footer #newsletter_block_left .form-group .form-control {
	  line-height: 33px;
	  height: 33px;
	  max-width: 267px;
	  background: #ffffff;
	  -webkit-border-radius: 35px;
	  -moz-border-radius: 35px;
	  border-radius: 35px;
	  padding: 0px 12px 0px 12px;
	  display: inline-block;
	  float: left;
	  border-color: #ccc;
	  color: #979797;
	  font-style: italic;
	  font-size: 12px;
		}
	  #footer #newsletter_block_left .form-group .form-control:focus {
		-webkit-box-shadow: black 0px 0px 0px;
		-moz-box-shadow: black 0px 0px 0px;
		box-shadow: black 0px 0px 0px; }
	#footer #newsletter_block_left .form-group .button-small {
		border: none!important;
		background: none;
		text-align: center;
		color: #fff;
		clear: both;
		background: #00aeb4;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-top: 20px;
		float: left;
		padding: 5px 12px;
		text-transform: uppercase;
		font-weight: 600;
		}
	  #footer #newsletter_block_left .form-group .button-small:hover {
		color: white !important; }
  #footer #newsletter_block_left .warning_inline {
	display: block;
	color: #f13340;
	font-size: 13px;
	line-height: 26px;
	clear: both; }
  #footer #newsletter_block_left .newsletter-input {
	max-width: 300px !important; 
}
@media (min-width: 768px) and (max-width: 1070px){
  #footer #newsletter_block_left h4:first-child {
	padding-bottom: 17px;
  }
}