/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  margin: 0 -45px;
}
.content_scene_cat .content_scene_cat_bg {
	background-color: #464646 !important;
	position: relative;
	padding: 45px;
}
.content_scene_cat .content_scene_cat_bg.image_category{
	padding: 6% 15px 15px 6.5%;
}
.content_scene_cat span.category-name {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 17px;
	display: block;
}
.cat_desc .rte{
	font-size: 14px;
	font-weight: 700;
	max-width: 50%;
}
  .content_scene_cat .content_scene {
	color: #777777; }
	.content_scene_cat .content_scene .cat_desc {
	  padding-top: 20px; }
	  .content_scene_cat .content_scene .cat_desc a {
		color: #777777; }
		.content_scene_cat .content_scene .cat_desc a:hover {
		  color: #515151; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #d6d4d4;
  padding: 15px 0 0px 0; }
  #subcategories p.subcategory-heading {
	font-weight: bold;
	color: #333333;
	margin: 0 0 15px 0; }
  #subcategories ul {
	margin: 0 0 0 -20px; }
	#subcategories ul li {
	  float: left;
	  width: 145px;
	  margin: 0 0 13px 33px;
	  text-align: center;
	  height: 202px; }
	  #subcategories ul li .subcategory-image {
		padding: 0 0 8px 0; }
		#subcategories ul li .subcategory-image a {
		  display: block;
		  padding: 9px;
		  border: 1px solid #d6d4d4; }
		  #subcategories ul li .subcategory-image a img {
			max-width: 100%;
			vertical-align: top; }
	  #subcategories ul li .subcategory-name {
		font: 600 18px/22px "Open Sans", sans-serif;
		color: #555454;
		text-transform: uppercase; }
		#subcategories ul li .subcategory-name:hover {
		  color: #515151; }
	  #subcategories ul li .cat_desc {
		display: none; }
	  #subcategories ul li:hover .subcategory-image a {
		border: 5px solid #333333;
		padding: 5px; }
@media (min-width:1600px) and (max-width: 1720px){
	.content_scene_cat {
		margin: 0 -30px;
	}
	.content_scene_cat .content_scene_cat_bg{
		padding: 30px;
	}
}
@media (max-width:1366px) {
	.content_scene_cat {
		margin: 0 -30px;
	}
	.content_scene_cat .content_scene_cat_bg{
		padding: 30px;
	}
}
@media (max-width:1024px) {
	.content_scene_cat {
		margin: 0 -15px;
	}
	.content_scene_cat span.category-name{
		font-size: 20px;
		padding-bottom: 10px;
	}
	.cat_desc .rte{
		max-width: none;
		font-size: 13px;
	}
}
@media (max-width:640px) {
	.content_scene_cat span.category-name {
		font-size: 16px;
		padding-bottom: 5px;
	}
	.cat_desc .rte{
		font-size: 11px;
	}
}
