#my-account .addresses-lists {
  margin-bottom: 30px; }
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px; }
  #my-account ul.myaccount-link-list li a {
  display: block;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-shadow: 0px 1px white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#my-account ul.myaccount-link-list li a,#my-account ul.myaccount-link-list li span{
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
#my-account ul.myaccount-link-list li a i {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 52px;
  height: 26px;
  margin: auto 0;
  text-align: center;
}
#my-account ul.myaccount-link-list li a span {
  display: block;
  padding: 13px 15px 15px 17px;
  overflow: hidden;
  border-left-style: solid;
  border-left-width:1px;
  margin-left: 52px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}
@media (max-width: 580px){
  #my-account ul.myaccount-link-list li a span{
    margin-left: 40px;
    padding-left: 10px;
  }
  #my-account ul.myaccount-link-list li a i{
    width: 40px;
    font-size: 20px;
  }
  #my-account ul.myaccount-link-list li a{
    font-size: 12px;
  }
}