/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 40px; }

.top-hr {
  background: #c4c4c4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif; }
.pb-left-column .tag.new{
	left: 25px;
}
.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }

#productscategory_list .product-name,
.accessories-block .product-name {
  margin-bottom: 5px; }
  #productscategory_list .product-name a,
  .accessories-block .product-name a {
	font-size: 15px;
	line-height: 18px;
	color: #3a3939; }
	#productscategory_list .product-name a:hover,
	.accessories-block .product-name a:hover {
	  color: #515151; }

.primary_block .pb-left-column img{
	max-width: 100%;
	height: auto;
}
a.fancybox-nav {
	outline:0
}
#attributes{
	margin-bottom: 15px;
}
/* .pb-left-column ***************************************************************************** */
#more_info_block{
	margin-top: 30px;
}
.pb-left-column #image-block {
	text-align: center;
  position: relative;
  display: block;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #dbdbdb;
  background: white;
}
  .pb-left-column #image-block img {
	width: 100%; }
.pb-left-column #image-block #view_full_size .span_link {
	position: absolute;
	bottom: 20px;
	left: 20px;
	display: block;
}
.pb-left-column #image-block #view_full_size .span_link:after {
	font-family: 'icomoon';
	font-size: 30px;
	content: "\f00e";
	font-weight: normal;
	content: '\e801';
}
#view_full_size{
	display: inline-block;
}
#image-block .tag#reduction_amount_display{
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 17px;
}
#image-block .tag#reduction_amount_display b{
	font-size: 17px;
	bottom: 9px;
}
#image-block .tag.price-percent-reduction{
	right: 25px;
}
  .pb-left-column #image-block a.jqzoom div div img {
	width: auto;
	max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
	border: none; }
  .pb-left-column #image-block .zoomPad {
	z-index: auto !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
	z-index: 5002; }
.pb-center-column h1{
	margin-top: 0;
	font-size: 25px;
}
/* miniatures */
.pb-left-column #views_block {
	margin-top: 10px;
	position: relative;
}

#thumbs_list {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
  #thumbs_list ul#thumbs_list_frame {
  	width: 10000px !important;
	list-style-type: none;
	padding-left: 0;
	overflow: hidden; }
  #thumbs_list li {
	float: left;
	cursor: pointer;
	padding: 0 4px;
	line-height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
	#thumbs_list li.last {
	  margin-right: 0; }
	#thumbs_list li a {
	  display: block;
	  border: 3px solid transparent;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: #fbfbfb; }
	#thumbs_list li img {
	  border: 1px solid white;
	  width: 100%;
	  height: 100%;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box; }
#view_scroll_left,
#view_scroll_right {
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden; 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}
#view_scroll_right {
	left: auto;
	right: 0;
}
#view_scroll_left:before,
#view_scroll_right:before {
	color: silver;
	font-family: "FontAwesome";
	font-size: 20px;
	line-height: 22px;
}
#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
	color: #333333;
}
#view_scroll_right:before {
	content: "\f138";
}
#view_scroll_left:before {
	content: "\f137"; 
}

.resetimg {
  padding: 10px 0 0; }
  .resetimg #resetImages i {
	margin-right: 6px; }
/* link list */
#usefull_link_block {
  list-style-type: none; }
  #usefull_link_block li {
  	font-size: 14px;
  	padding: 0 0 10px;
}
.buttons_bottom_block{
	margin-bottom: 10px;
}
#usefull_link_block li:last-child{
	margin-bottom: 20px;
}
#usefull_link_block li a {
	  position: relative;
	  padding-left: 18px;
	  display: inline-block;
}
	  #usefull_link_block li a:before {
		font-family: "FontAwesome";
		position: absolute;
		top: -2px;
		left: 0;
		font-weight: normal;
}

#usefull_link_block li.print a:before {
	content: "\f02f";
}
#usefull_link_block li.sendtofriend a:before {
	content: "\f003";
}
#usefull_link_block li#left_share_fb {
	  clear: both;
	  float: none;
}
#usefull_link_block li#left_share_fb a:before {
		content: "\f09a";
}
	#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
	  cursor: pointer;
	  clear: both;
	  float: none;
	  margin: 0 0 8px 0;
	  border: none;
	  padding: 0;
	  position: relative; }
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
		font-family: "FontAwesome";
		position: absolute;
		top: -2px;
		left: 0;
		font-weight: normal;
		content: "\f08a"; }
	#usefull_link_block li#favoriteproducts_block_extra_removed:before {
	  content: "\f004"; }

/* pb-center-column ****************************************************************************** */

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4;
  margin: 10px 0 -5px;
  position: relative; }
  #product p#loyalty b {
	color: #333333; }
  #product p#loyalty:before {
	content: "\f024";
	font-family: "FontAwesome";
	color: #cfcccc;
	font-size: 26px;
	line-height: 28px;
	position: absolute;
	top: 16px;
	left: 0; }
#short_description_content{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.pb-right-column {
	text-align: left;
	padding: 24px 38px 0;
	float: right;
}
#page .rte {
  word-wrap: break-word; }
  #page .rte p {
	margin-bottom: 1em;
	min-height: 1px; }

#attributes fieldset {
  padding-bottom: 3px; }
  #attributes fieldset label {
	vertical-align: top;
	display: block; 
	line-height: 2;
}
#attributes .attribute_list .chosen-container{
	width: 100%;
}
#attributes .attribute_list {
  width: 100%; }
  #attributes .attribute_list .form-control {
	max-width: 230px; }
	#attributes .attribute_list .form-control option {
	  background: white;
	  color: #666666; }
  #attributes .attribute_list ul {
	clear: both; }
	#attributes .attribute_list ul li {
	  float: left;
	  margin-right: 10px; }
  #attributes .attribute_list input.attribute_radio {
	float: left;
	margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
	float: none;
	display: inline-block; }
 #attributes .attribute_list #color_to_pick_list li a.color_pick {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  width: 32px;
  cursor: pointer;
  padding: 0;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.25);
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border:none;
}
#attributes .attribute_list #color_to_pick_list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 1px 1px 0;
  clear: none;
  padding:1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  position: relative;
}
#attributes .attribute_list #color_to_pick_list li.selected,#attributes .attribute_list #color_to_pick_list li:hover {
  border: 1px solid #FF003C; 
}
	  #attributes .attribute_list #color_to_pick_list li a.color_pick img {
		display: block;
		width: 100%;
		height: 100%;
	 }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
  width: 50%;
  margin: 0 0 20px;
  background: white; }
  table.table-product-discounts tr th {
	background: #fbfbfb;
	color: #333333;
	font-weight: 700;
	border: none;
	font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
	border-left: 1px solid #d6d4d4;
	width: 33%;
	padding: 10px 20px 11px;
	border-top: 1px solid #d6d4d4;
	border-right: none;
	text-shadow: none;
	text-transform: none;
	font-weight: 13px;
	line-height: 18px;
	border-bottom: none; }
#add_to_cart {
	margin: 17px 0 21px;
}
/* accessories  */
.accessories-block .block_description,.buttons_bottom_block.none {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
	text-decoration: none; }

/* quantity_wanted */
.btn_plus{
	float: right;
	margin-left: 7px;
}
.btn_minus{
	float: left;
	margin-right: 7px;
}
.btn_minus,.btn_plus{
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 10px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	font-weight: 600;
	margin-top: 17px;
}
.text_quantity{
	height: 45px;
	width: 45px;
	line-height: 45px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-size: 16px;
}
#quantity_wanted_p{
	display: inline-block;
 }
/*  .und_btm{
	border-bottom-style: solid;
	border-bottom-width: 1px;
} */

/* prices */

.discount {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
 }
.discount:before{
	padding-right: 7px;
	font-size: 25px;
	font-weight: normal;
	content: "\e802";
	font-family: 'icomoon';
}


/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
	padding: 0 3px;
	width: 555px; }
#send_friend_form .col-xs-12{
	padding-left: 0;
	padding-right: 0;
}
#send_friend_form .product img { 
	float: left;
	margin-right: 15px;
}
#send_friend_form .product p {
	padding: 0;
	color: #666;
	font-size: 12px;
	line-height: 1.5;
}
#send_friend_form .product p.product_name {
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 4px;
}
#send_friend_form .form_container {
	padding: 12px 0 20px;
	margin-top: 20px;
}
#send_friend_form_error {
	margin-top: 20px;
}
		#send_friend_form .form_container p.intro_form {
			padding-bottom: 6px;
			font-weight: 700;
			font-size: 13px;
			color: #333333; }
		#send_friend_form .form_container p.txt_required {
			padding-bottom: 0;
			color: #666; }
#send_friend_form .form_container .text label {
	display: block;
	width: 100%;
	font-size: 13px;
	color: #666;
	padding-bottom: 8px; 
}
.submit .text1{
	text-align: right;
}
.submit .text2{
	text-align: left;
}
#product .text1{
	padding-right: 8px;
}
#product .text2{
	padding-left: 8px;
}
#send_friend_form .form_container .text input {
	padding: 0 5px;
	height: 35px;
	width: 100%;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	outline: none;
	background: white;
}
#send_friend_form .submit {
	text-align: center;
	padding: 15px 0;
}
#send_friend_form  .button{
	min-width: 130px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d4d4; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
	display: block;
	vertical-align: top; }
  .customizationUploadLine textarea {
	width: 50%;
	border: 1px solid #d6d4d4;
	color: #777777; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

.accessories_block div ul li a {
  display: inline-block; }
.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only{
	background: #fff;
	padding: 20px 40px 20px 20px;
}


.addsharethisinner .stButton .stArrow {
  display: none !important; }
#more_info_tabs li{
  float: left;
}
#more_info_tabs li a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
  padding: 0 40px;
}
.name_bullet {
  font-weight: bold;
}
.value_bullet,.name_bullet{
  padding: 5px 0;
}
#add_to_cart button {
	font-size: 20px;
	font-weight: 700;
	line-height: 48px;
	height: 50px;
	border-style: solid;
	border-width: 2px;
	background: none;
	text-transform: uppercase;
	width: 100%;
	padding: 0;
}
.pb-right-column h1{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}
#old_price{
	margin-bottom: 0;
}
.ai_multi_dimensions_hidden+.chosen-container{
	display: none!important;
}
@media (max-width: 1199px){
	#more_info_tabs li a {
		font-size: 15px;
		line-height: 50px;
		padding: 0 25px;
	}
}
@media (max-width: 991px){
	.pb-center-column{
		float: right;
	}
}
@media (max-width: 880px){
	#more_info_tabs li a {
		font-size: 13px;
		line-height: 40px;
		padding: 0 15px;
	}
}
@media (max-width: 767px){
	.pb-right-column,.pb-center-column{
		text-align: center;
	}
	.pb-center-column{
		padding-top: 25px;
	}
}
@media (min-width: 641px ) and (max-width: 767px){
	.pb-left-column #image-block,#more_info_tabs{
		margin: 0 auto;
	}
	#more_info_tabs{
		display: table;
	}
}
@media (max-width: 640px){
	#more_info_tabs li{
		width: 100%;
	}
	.pb-left-column #image-block{
		max-width: none;
	}
	#send_friend_form {
		width: 100%;
	}
}
@media (max-width: 579px) {
	#send_friend_form .button{
		width: 100%;
		margin: 0 0 20px;
	}
	#product .text1,#product .text2{
		padding: 0;
	}
	#send_friend_form .product img{
		display: table;
		margin: 0 auto;
		float: none;
	}
	#send_friend_form  .product_desc{
		text-align: center;
	}
	.submit .text1,.submit .text2,.address_add.submit .btn{
		width: 100%;
		text-align: center;
	}
	#thumbs_list{
		width: 282px;
	}
}
@media (max-width: 380px){
		#thumbs_list{
			width: 185px;
		}
}
