#languages-block-top {
  float: right;

  position: relative; }
  #languages-block-top span.firstWord {
	display: none; }
  #languages-block-top div.current {
	padding: 0px 10px;
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer; }
	#languages-block-top div.current strong {
	  color: #fff; }
	#languages-block-top div.current:after {
	  content: "\f0d7";
	  font-family: "FontAwesome";
	  font-size: 14px;
	  color: #fff;
	  vertical-align: -2px;
	  padding-left: 12px; }
  #languages-block-top ul {
	line-height: 1.2;
	display: none;
	position: absolute;
	top: 50px;
   left: 10px;
	width: auto;
	white-space: nowrap;
	z-index: 100; }
	#languages-block-top ul li {
	  color: white;
	  font-size: 12px; }
	  #languages-block-top ul li a,
	  #languages-block-top ul li > span {
		padding: 7px 12px 7px 12px;
		display: block;
		color: white; }
	  #languages-block-top ul li.selected, #languages-block-top ul li:hover a {
		background: #484848; }
		.languages-block i {
		text-transform: capitalize;
		font-style: italic;
		}
@media (max-width: 580px){
	#languages-block-top ul{
		left: 0;
	}
}
@media (max-width: 480px){
	#languages-block-top div.current:after{
		display: none;
	}
}
