#layered_block_left .block_content{
  display: block !important;
}
#enabled_filters {
	background: #fff;
	padding: 5px;
	border: 4px double #C7C7C7;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

#enabled_filters ul li {
  padding: 2px 0; }
.layered_filter .chosen-container{
  width: auto !important;
}
#enabled_filters li a {
  float: right;
  margin: 0 5px;
  cursor: pointer; }

#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left ul {
  clear: both; }

#layered_block_left ul li {
 padding: 0 0 0 7px;
display: inline-block;
line-height: 38px;
}

#layered_block_left ul li label {
  cursor: pointer; }

#layered_block_left ul {
  padding-left: 0; }

#layered_block_left ul li {
  list-style-type: none; 
display: block;}

#layered_block_left div > form > div > div.custom_2 {
  padding: 0;
}
#layered_block_left div > form > div > div {
  display: inline-block;
  padding: 0 15px;
  vertical-align: top;
}
#layered_price_range,#layered_weight_range{
  line-height: 37px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
#layered_block_left #enabled_filters, #layered_url_filter_block {
  padding: 10px;
  margin: 0px 15px 10px 15px;
  display: block;
}
.layered_subtitle_heading{
	padding:0;
	font-size: 14px;
   font-weight: 600;
	vertical-align: top;
	text-transform: uppercase;
}
.layered_filter .layered_subtitle_heading{
  display: inline-block;
  line-height: 37px;
  padding-bottom: 0;
}
.layered_filter ul {
  display: inline-block;
  vertical-align: top;
}
#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0; 
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
line-height: 1.3;}
#layered_block_left #enabled_filters ul li{
  padding-right: 10px;
}
.layered_price .layered_subtitle_heading,.layered_weight .layered_subtitle_heading{
  display: none;
}
/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline; }


#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 6px 0 6px 10px;
  width: 91%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }


#layered_form .color-option{
  font-size: 0;
  width: 28px;
  height: 28px;
  display: inline-block !important;
  margin: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.25);
}
#layered_form .color-group>li{
  display: inline-block !important; 
  padding-left: 0;
}
#layered_form .color-option{
  border-style:none;
}
 .custom_2 .color-group>li:first-child{
  display: none !important;
 }
 #layered_block_left #layered_form .color-group label{
	display: none;
 }
@media (min-width: 881px){
  #layered_block_left #enabled_filters{
	margin: 0;
	position: absolute;
	bottom: 108%;
	right: 0;
  }
}
@media (max-width: 767px){
  .layered_subtitle_heading{
	font-size: 12px;
  }
}
@media (max-width: 640px){
  #layered_block_left #enabled_filters, #layered_url_filter_block{
  max-width: none;
  width: auto;
  float: none;
  display: block;
  margin: 0;
  border:none;
  }
}
@media (max-width: 479px){
    #layered_block_left div > form > div > div{
        width: 100%;
        padding: 0;
    }
}

