#currencies-block-top {
  float: right;

  position: relative; }
  #currencies-block-top span.firstWord {
	display: none; }
  #currencies-block-top div.current {
	padding: 0px 20px 0 10px;
	color: white;
	-webkit-text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	-moz-text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	}
	#currencies-block-top div.current strong {
	  color: #fff; }
	#currencies-block-top div.current:after {
	  content: "\f0d7";
	  font-family: "FontAwesome";
	  font-size: 14px;
	  color: #fff;
	  vertical-align: -2px;
	  padding-left: 12px; }

  #currencies-block-top ul {
	 line-height: 1.2;
	display: none;
	position: absolute;
	top: 50px;
	left: 10px;
	width: auto;
	white-space: nowrap;
	z-index: 100; }
	#currencies-block-top ul li {
	  color: white;
	  font-size: 12px; }
	  #currencies-block-top ul li a,
	  #currencies-block-top ul li > span {
	   padding: 7px 10px 7px 12px;

		display: block;
		color: white; }
	  #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
		background: #484848; }

#currencies-block-top .current:before {
content: '';
border-right: 1px solid #848484;
height: 18px;
position: absolute;
right: 0;
top: 16px;
}
@media (max-width: 480px){
	#currencies-block-top div.current:after,#currencies-block-top .current:before{
		display: none;
	}
	#currencies-block-top div.current{
		padding-right: 10px;
	}
}
